# k-mean clustering of each month taking weight as feature

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,3.03
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.90,0.97,0.85,0.85,0.82,0.80
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95

In [ ]:
d2 = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
X = df.iloc[:, [2]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jan']=y_kmeans
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d2['Feb']=y_kmeans
# d= d.sort_values(by = 'feb')
# mar-feb
X = df.iloc[:, [4]].values
y_kmeans = kmeans.fit_predict(X)
d2['Mar']=y_kmeans
X = df.iloc[:, [5]].values
y_kmeans = kmeans.fit_predict(X)
d2['Apr']=y_kmeans
X = df.iloc[:, [6]].values
y_kmeans = kmeans.fit_predict(X)
d2['May']=y_kmeans
X = df.iloc[:, [7]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jun']=y_kmeans
X = df.iloc[:, [8]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jul']=y_kmeans
X = df.iloc[:, [9]].values
y_kmeans = kmeans.fit_predict(X)
d2['Aug']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d2['Sep']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d2['Mar']=y_kmeans
X = df.iloc[:, [11]].values
y_kmeans = kmeans.fit_predict(X)
d2['Oct']=y_kmeans
X = df.iloc[:, [12]].values
y_kmeans = kmeans.fit_predict(X)
d2['Nov']=y_kmeans
X = df.iloc[:, [13]].values
y_kmeans = kmeans.fit_predict(X)
d2['Dec']=y_kmeans
d2= d2.sort_values(by = 'Jan')
d2

,Symbol,Security Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
23,ITC,ITC Ltd.,0,2,4,0,4,2,4,1,4,1,3,3
2,AXISBANK,Axis Bank Ltd.,0,2,4,3,3,4,3,4,4,1,3,3
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0,2,0,0,4,2,4,1,0,0,0,0
29,LT,Larsen & Toubro Ltd.,0,2,4,3,4,4,3,4,4,1,3,3
39,TCS,Tata Consultancy Services Ltd.,0,2,0,0,1,2,4,1,0,0,0,0
27,JSWSTEEL,JSW Steel Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
30,M&M,Mahindra & Mahindra Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
32,NTPC,NTPC Ltd.,1,0,1,1,3,0,0,0,1,4,1,1
33,NESTLEIND,Nestle India Ltd.,1,0,1,3,3,4,0,0,1,4,1,1
34,ONGC,Oil & Natural Gas Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
35,POWERGRID,Power Grid Corporation of India Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,1,0,1,1,3,0,0,0,1,4,1,1
40,TATAMOTORS,Tata Motors Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
41,TATASTEEL,Tata Steel Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
42,TECHM,Tech Mahindra Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
43,TITAN,Titan Company Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
44,UPL,UPL Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
24,IOC,Indian Oil Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
45,ULTRACEMCO,UltraTech Cement Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,1,0,1,1,3,0,0,0,1,4,1,1
3,BAJAJ-AUTO,Bajaj Auto Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
5,BAJAJFINSV,Bajaj Finserv Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
6,BPCL,Bharat Petroleum Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
9,BRITANNIA,Britannia Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
10,CIPLA,Cipla Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
11,COALINDIA,Coal India Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
13,EICHERMOT,Eicher Motors Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
14,GAIL,GAIL (India) Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
47,WIPRO,Wipro Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
16,HCLTECH,HCL Technologies Ltd.,1,0,4,3,3,4,3,4,4,1,3,3
18,HEROMOTOCO,Hero MotoCorp Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
19,HINDALCO,Hindalco Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
15,GRASIM,Grasim Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1
17,HDFCBANK,HDFC Bank Ltd.,2,3,3,2,2,1,1,2,3,2,2,4
36,RELIANCE,Reliance Industries Ltd.,2,3,2,2,2,1,2,2,2,2,2,4
21,HDFC,Housing Development Finance Corporation Ltd.,2,1,0,4,1,3,1,3,0,3,4,2
31,MARUTI,Maruti Suzuki India Ltd.,3,4,4,3,3,4,3,4,4,1,3,3
20,HINDUNILVR,Hindustan Unilever Ltd.,3,2,0,0,4,2,4,1,0,0,3,3
37,SBIN,State Bank of India,3,4,4,3,3,4,3,4,4,1,3,3
25,INDUSINDBK,IndusInd Bank Ltd.,3,0,1,1,0,0,0,0,1,4,1,1
7,BHARTIARTL,Bharti Airtel Ltd.,3,4,4,3,4,4,3,4,4,1,3,3
4,BAJFINANCE,Bajaj Finance Ltd.,3,4,4,3,3,4,3,4,4,1,3,3
1,ASIANPAINT,Asian Paints Ltd.,3,4,4,3,3,4,3,4,4,1,3,3
26,INFY,Infosys Ltd.,4,1,3,4,1,3,1,3,3,3,4,2
22,ICICIBANK,ICICI Bank Ltd.,4,1,0,4,1,2,4,3,0,0,0,0

In [ ]:
X = df.iloc[:, [3]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,2),3))
# d2["Jan"].replace({0:1, 1:3, 2:0, 3:4, 4:2})
# d2["Jan"].replace({0: 1, 1: 3})

0.786
6.95
3.803
10.14
2.218

In [ ]:
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,2),3))
# d2["Jan"].replace({0:1, 1:3, 2:0, 3:4, 4:2})
# d2["Jan"].replace({0: 1, 1: 3})

3.97
0.782
9.46
2.139
6.31

In [ ]:
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,2),3))

3.97
0.782
9.46
2.139
6.31

In [ ]:
d2['Jan']=d2["Jan"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d2["Feb"]=d2["Feb"].replace({0: 'E', 1: 'B', 2:'C', 3:'A', 4:'D'})
d2['Mar']=d2["Mar"].replace({0: 'C', 1: 'E', 2:'A', 3:'B', 4:'D'})
d2['Apr']=d2["Apr"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d2['May']=d2["May"].replace({0: 'E', 1: 'B', 2:'C', 3:'A', 4:'D'})
d2['Jun']=d2["Jun"].replace({0: 'E', 1: 'B', 2:'C', 3:'A', 4:'D'})
d2['Jul']=d2["Jul"].replace({0: 'E', 1: 'B', 2:'C', 3:'A', 4:'D'})
d2['Aug']=d2["Aug"].replace({0: 'E', 1: 'B', 2:'C', 3:'A', 4:'D'})
d2['Sep']=d2["Sep"].replace({0: 'C', 1: 'E', 2:'A', 3:'B', 4:'D'})
d2['Oct']=d2["Oct"].replace({0: 'C', 1: 'D', 2:'A', 3:'B', 4:'E'})
d2['Nov']=d2["Nov"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d2['Dec']=d2["Dec"].replace({0: 'C', 1: 'E', 2:'B', 3:'A', 4:'D'})
# d2= d2.sort_values(by = 'Jan')
d2

,Symbol,Security Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
23,ITC,ITC Ltd.,C,C,D,C,D,C,D,B,D,D,D,A
2,AXISBANK,Axis Bank Ltd.,C,C,D,D,A,D,A,D,D,D,D,A
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,C,C,C,C,D,C,D,B,C,C,C,C
29,LT,Larsen & Toubro Ltd.,C,C,D,D,D,D,A,D,D,D,D,A
39,TCS,Tata Consultancy Services Ltd.,C,C,C,C,B,C,D,B,C,C,C,C
27,JSWSTEEL,JSW Steel Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
30,M&M,Mahindra & Mahindra Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
32,NTPC,NTPC Ltd.,E,E,E,E,A,E,E,E,E,E,E,E
33,NESTLEIND,Nestle India Ltd.,E,E,E,D,A,D,E,E,E,E,E,E
34,ONGC,Oil & Natural Gas Corporation Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
35,POWERGRID,Power Grid Corporation of India Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,E,E,E,E,A,E,E,E,E,E,E,E
40,TATAMOTORS,Tata Motors Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
41,TATASTEEL,Tata Steel Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
42,TECHM,Tech Mahindra Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
43,TITAN,Titan Company Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
44,UPL,UPL Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
24,IOC,Indian Oil Corporation Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
45,ULTRACEMCO,UltraTech Cement Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,E,E,E,E,A,E,E,E,E,E,E,E
3,BAJAJ-AUTO,Bajaj Auto Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
5,BAJAJFINSV,Bajaj Finserv Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
6,BPCL,Bharat Petroleum Corporation Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
9,BRITANNIA,Britannia Industries Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
10,CIPLA,Cipla Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
11,COALINDIA,Coal India Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
13,EICHERMOT,Eicher Motors Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
14,GAIL,GAIL (India) Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
47,WIPRO,Wipro Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
16,HCLTECH,HCL Technologies Ltd.,E,E,D,D,A,D,A,D,D,D,D,A
18,HEROMOTOCO,Hero MotoCorp Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
19,HINDALCO,Hindalco Industries Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
15,GRASIM,Grasim Industries Ltd.,E,E,E,E,E,E,E,E,E,E,E,E
17,HDFCBANK,HDFC Bank Ltd.,A,A,B,A,C,B,B,C,B,A,A,D
36,RELIANCE,Reliance Industries Ltd.,A,A,A,A,C,B,C,C,A,A,A,D
21,HDFC,Housing Development Finance Corporation Ltd.,A,B,C,B,B,A,B,A,C,B,B,B
31,MARUTI,Maruti Suzuki India Ltd.,D,D,D,D,A,D,A,D,D,D,D,A
20,HINDUNILVR,Hindustan Unilever Ltd.,D,C,C,C,D,C,D,B,C,C,D,A
37,SBIN,State Bank of India,D,D,D,D,A,D,A,D,D,D,D,A
25,INDUSINDBK,IndusInd Bank Ltd.,D,E,E,E,E,E,E,E,E,E,E,E
7,BHARTIARTL,Bharti Airtel Ltd.,D,D,D,D,D,D,A,D,D,D,D,A
4,BAJFINANCE,Bajaj Finance Ltd.,D,D,D,D,A,D,A,D,D,D,D,A
1,ASIANPAINT,Asian Paints Ltd.,D,D,D,D,A,D,A,D,D,D,D,A
26,INFY,Infosys Ltd.,B,B,B,B,B,A,B,A,B,B,B,B
22,ICICIBANK,ICICI Bank Ltd.,B,B,C,B,B,C,D,A,C,C,C,C

In [ ]:
X = df.iloc[:, [3]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 0.78566667],
       [ 6.95      ],
       [ 3.80333333],
       [10.14      ],
       [ 2.218     ]])

In [ ]:
X = df.iloc[:, [4]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 4.966     ],
       [ 0.74482759],
       [10.24      ],
       [ 7.22      ],
       [ 2.12375   ]])

In [ ]:
X = df.iloc[:, [5]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 4.315     ],
       [ 0.73392857],
       [11.05      ],
       [ 1.98555556],
       [ 6.81333333]])

In [ ]:
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,2),3))

4.315
0.734
11.05
1.986
6.813

# Hierarchial clustering of each month taking weights as a features

In [ ]:
d2 = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
from sklearn.cluster import AgglomerativeClustering
hc = AgglomerativeClustering(n_clusters = 5, affinity = 'euclidean', linkage = 'ward')
X = df.iloc[:, [2]].values
y_hc = hc.fit_predict(X)
d2['Jan']=y_hc
X = df.iloc[:, [3]].values
y_hc = hc.fit_predict(X)
d2['Feb']=y_hc
X = df.iloc[:, [4]].values
y_hc = hc.fit_predict(X)
d2['Mar']=y_hc
X = df.iloc[:, [5]].values
y_hc = hc.fit_predict(X)
d2['Apr']=y_hc
X = df.iloc[:, [6]].values
y_hc = hc.fit_predict(X)
d2['May']=y_hc
X = df.iloc[:, [7]].values
y_hc = hc.fit_predict(X)
d2['Jun']=y_hc
X = df.iloc[:, [8]].values
y_hc = hc.fit_predict(X)
d2['Jul']=y_hc
X = df.iloc[:, [9]].values
y_hc = hc.fit_predict(X)
d2['Aug']=y_hc
X = df.iloc[:, [10]].values
y_hc = hc.fit_predict(X)
d2['Sep']=y_hc
X = df.iloc[:, [11]].values
y_hc = hc.fit_predict(X)
d2['Oct']=y_hc
X = df.iloc[:, [12]].values
y_hc = hc.fit_predict(X)
d2['Nov']=y_hc
X = df.iloc[:, [13]].values
y_hc = hc.fit_predict(X)
d2['Dec']=y_hc
d2

,Symbol,Security Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
1,ASIANPAINT,Asian Paints Ltd.,4,0,1,1,3,0,4,3,0,3,0,0
2,AXISBANK,Axis Bank Ltd.,1,0,1,1,3,0,4,3,0,3,0,0
3,BAJAJ-AUTO,Bajaj Auto Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
4,BAJFINANCE,Bajaj Finance Ltd.,4,0,0,1,3,0,4,3,0,3,0,0
5,BAJAJFINSV,Bajaj Finserv Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
6,BPCL,Bharat Petroleum Corporation Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
7,BHARTIARTL,Bharti Airtel Ltd.,4,0,1,1,1,0,4,3,0,3,0,0
9,BRITANNIA,Britannia Industries Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
10,CIPLA,Cipla Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
11,COALINDIA,Coal India Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,2,2,0,3,3,1,1,1,3,1,1,1
13,EICHERMOT,Eicher Motors Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
14,GAIL,GAIL (India) Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
15,GRASIM,Grasim Industries Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
16,HCLTECH,HCL Technologies Ltd.,2,2,0,1,3,0,4,3,0,3,0,0
17,HDFCBANK,HDFC Bank Ltd.,0,1,3,2,2,2,0,0,4,0,2,2
18,HEROMOTOCO,Hero MotoCorp Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
19,HINDALCO,Hindalco Industries Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
20,HINDUNILVR,Hindustan Unilever Ltd.,1,0,2,4,1,3,3,2,0,2,0,0
21,HDFC,Housing Development Finance Corporation Ltd.,0,4,4,0,0,4,0,4,1,4,4,4
22,ICICIBANK,ICICI Bank Ltd.,3,4,2,0,0,3,3,2,1,2,3,3
23,ITC,ITC Ltd.,1,0,2,4,1,3,3,2,0,3,0,0
24,IOC,Indian Oil Corporation Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
25,INDUSINDBK,IndusInd Bank Ltd.,4,2,0,3,4,1,1,1,3,1,1,1
26,INFY,Infosys Ltd.,3,3,2,0,0,4,0,4,1,4,4,4
27,JSWSTEEL,JSW Steel Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,1,3,2,4,1,3,3,2,0,2,3,3
29,LT,Larsen & Toubro Ltd.,1,0,1,1,1,0,4,3,0,3,0,0
30,M&M,Mahindra & Mahindra Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
31,MARUTI,Maruti Suzuki India Ltd.,4,0,0,1,3,0,4,3,0,3,0,0
32,NTPC,NTPC Ltd.,2,2,0,3,3,1,1,1,3,1,1,1
33,NESTLEIND,Nestle India Ltd.,2,2,0,1,3,0,1,1,3,1,1,1
34,ONGC,Oil & Natural Gas Corporation Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
35,POWERGRID,Power Grid Corporation of India Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
36,RELIANCE,Reliance Industries Ltd.,0,1,3,2,2,2,2,0,2,0,2,2
37,SBIN,State Bank of India,4,0,1,1,3,0,4,3,3,1,0,0
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,2,2,0,3,3,1,1,1,3,1,1,1
39,TCS,Tata Consultancy Services Ltd.,1,3,2,0,0,3,3,2,1,2,3,3
40,TATAMOTORS,Tata Motors Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
41,TATASTEEL,Tata Steel Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
42,TECHM,Tech Mahindra Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
43,TITAN,Titan Company Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
44,UPL,UPL Ltd.,2,2,0,3,4,1,1,1,3,1,1,1
45,ULTRACEMCO,UltraTech Cement Ltd.,2,2,0,3,3,1,1,1,3,1,1,1
47,WIPRO,Wipro Ltd.,2,2,0,3,4,1,1,1,3,1,1,1

# k-mean clustering for every month taking difference of weight as feature.

In [ ]:
#individual result
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df['feb_jan'] = df['FEB'] - df['JAN ']
df['mar_feb'] = df['MAR'] - df['FEB']
df['apr_mar'] = df['APR'] - df['MAR']
df['may_apr']=df['MAY']-df['APR']
df['jun_may']=df['JUN']-df['MAY']
df['jul_jun']=df['JUL']-df['JUN']
df['aug_jul']=df['AUG']-df['JUL']
df['sep_aug']=df['SEP']-df['AUG']
df['oct_sep']=df['OCT']-df['SEP']
df['nov_oct']=df['NOV']-df['OCT']
df['dec_nov']=df['DEC']-df['NOV']
df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'], axis=1, inplace=True)
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.01,-0.03,0.01,0.08,-0.03,-0.09,0.04,-0.03,0.00,0.02,0.05
1,ASIANPAINT,Asian Paints Ltd.,0.11,0.35,-0.17,-0.03,-0.15,-0.10,0.12,0.08,0.14,-0.20,0.28
2,AXISBANK,Axis Bank Ltd.,0.07,-0.96,0.05,-0.26,-0.06,-0.04,0.46,-0.37,0.26,0.24,-0.12
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.03,-0.07,0.09,0.06,-0.04,-0.01,-0.04,-0.03,-0.02,-0.01,0.00
4,BAJFINANCE,Bajaj Finance Ltd.,0.22,-0.86,-0.15,-0.19,0.43,0.11,0.07,-0.12,-0.04,0.58,0.00
5,BAJAJFINSV,Bajaj Finserv Ltd.,0.03,-0.40,-0.03,-0.08,0.14,-0.01,-0.03,-0.04,-0.06,0.28,-0.06
6,BPCL,Bharat Petroleum Corporation Ltd.,0.00,-0.03,0.01,-0.03,0.00,0.02,-0.03,-0.10,-0.01,-0.03,-0.03
7,BHARTIARTL,Bharti Airtel Ltd.,0.28,0.22,0.05,0.30,0.00,-0.25,-0.30,-0.47,0.00,-0.09,0.04
9,BRITANNIA,Britannia Industries Ltd.,0.00,0.12,0.03,0.09,-0.02,-0.02,-0.05,0.01,-0.10,-0.05,-0.07
10,CIPLA,Cipla Ltd.,-0.02,0.16,0.13,0.10,-0.08,0.03,-0.03,0.06,-0.05,-0.08,0.01
11,COALINDIA,Coal India Ltd.,-0.01,0.13,-0.06,-0.02,-0.10,-0.06,0.00,-0.08,-0.02,-0.01,0.00
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.01,0.29,0.10,0.08,-0.14,0.07,-0.10,0.23,-0.12,-0.13,0.00
13,EICHERMOT,Eicher Motors Ltd.,-0.07,0.01,-0.01,0.08,0.01,0.02,-0.01,0.03,-0.05,0.05,-0.04
14,GAIL,GAIL (India) Ltd.,-0.03,-0.02,0.03,0.00,0.01,-0.06,-0.01,-0.04,-0.02,0.03,0.04
15,GRASIM,Grasim Industries Ltd.,-0.03,-0.07,-0.03,0.09,-0.02,-0.03,0.02,0.06,0.00,0.01,-0.01
16,HCLTECH,HCL Technologies Ltd.,-0.05,0.07,0.12,0.06,-0.11,0.25,-0.08,0.26,0.00,-0.22,0.10
17,HDFCBANK,HDFC Bank Ltd.,0.27,-0.58,0.14,-0.22,0.31,-1.09,0.43,-0.32,0.58,0.96,-0.84
18,HEROMOTOCO,Hero MotoCorp Ltd.,-0.08,0.00,0.10,0.09,-0.01,-0.02,0.07,0.03,-0.12,0.00,-0.05
19,HINDALCO,Hindalco Industries Ltd.,-0.07,-0.10,0.07,0.05,-0.02,0.02,0.05,-0.03,-0.03,0.09,-0.01
20,HINDUNILVR,Hindustan Unilever Ltd.,0.42,1.23,-0.77,-0.13,0.80,-0.27,-0.31,-0.10,-0.12,-0.27,0.13
21,HDFC,Housing Development Finance Corporation Ltd.,-0.31,-0.23,0.19,-0.87,-0.21,-0.40,-0.04,-0.12,0.44,0.36,0.38
22,ICICIBANK,ICICI Bank Ltd.,0.08,-1.10,0.14,-0.60,-0.14,-0.45,0.82,-0.57,0.35,0.44,0.28
23,ITC,ITC Ltd.,-0.43,0.46,-0.31,0.45,-0.40,-0.30,-0.17,-0.36,-0.21,0.15,0.00
24,IOC,Indian Oil Corporation Ltd.,0.00,0.00,-0.06,0.01,-0.03,-0.02,-0.03,-0.06,0.01,-0.02,0.00
25,INDUSINDBK,IndusInd Bank Ltd.,-0.09,-0.85,0.10,-0.09,0.06,0.02,0.11,-0.17,0.04,0.21,-0.03
26,INFY,Infosys Ltd.,0.04,0.77,-0.18,-0.03,-0.14,1.35,-0.53,0.59,0.12,-0.53,0.43
27,JSWSTEEL,JSW Steel Ltd.,0.01,-0.11,0.04,0.02,-0.03,0.04,0.09,0.00,0.04,0.01,0.02
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.10,0.17,-0.43,-0.31,0.48,-0.32,-0.03,-0.41,0.69,0.48,-0.15
29,LT,Larsen & Toubro Ltd.,-0.25,-0.38,-0.09,0.19,-0.23,-0.28,0.01,-0.12,-0.01,0.19,0.16
30,M&M,Mahindra & Mahindra Ltd.,-0.16,-0.18,0.09,0.20,0.08,0.11,-0.04,0.00,-0.07,0.11,-0.09
31,MARUTI,Maruti Suzuki India Ltd.,-0.06,-0.21,0.14,0.14,-0.08,-0.01,0.10,-0.03,0.00,-0.18,0.02
32,NTPC,NTPC Ltd.,0.00,0.12,-0.02,0.07,-0.12,-0.17,0.07,-0.12,0.00,-0.03,-0.02
33,NESTLEIND,Nestle India Ltd.,0.11,0.40,-0.06,0.01,-0.16,-0.15,-0.08,-0.01,0.05,-0.08,-0.05
34,ONGC,Oil & Natural Gas Corporation Ltd.,-0.08,0.03,0.01,0.05,-0.08,-0.07,0.01,-0.10,-0.05,0.04,0.05
35,POWERGRID,Power Grid Corporation of India Ltd.,0.03,0.22,-0.13,0.00,0.02,-0.05,-0.03,-0.09,0.01,0.01,-0.07
36,RELIANCE,Reliance Industries Ltd.,0.05,0.78,1.48,0.34,0.57,1.55,-0.37,1.27,-1.66,-2.07,-0.51
37,SBIN,State Bank of India,0.04,-0.40,-0.33,-0.23,0.03,-0.01,0.11,-0.21,-0.02,0.23,0.07
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.08,0.19,0.16,0.06,-0.10,0.05,-0.07,-0.05,-0.11,-0.01,0.07
39,TCS,Tata Consultancy Services Ltd.,0.12,0.82,-0.21,0.05,-0.16,0.08,-0.22,0.50,0.18,-0.54,-0.05
40,TATAMOTORS,Tata Motors Ltd.,-0.14,-0.14,0.05,-0.02,0.02,-0.01,0.13,-0.04,-0.02,0.11,-0.03
41,TATASTEEL,Tata Steel Ltd.,-0.05,-0.05,-0.02,0.01,0.00,0.02,0.05,-0.07,0.06,0.16,0.03
42,TECHM,Tech Mahindra Ltd.,0.00,-0.01,-0.16,0.00,-0.05,0.13,0.05,0.06,-0.01,-0.03,0.03
43,TITAN,Titan Company Ltd.,0.13,-0.04,-0.10,-0.06,-0.02,0.02,0.02,0.08,-0.06,0.05,0.07
44,UPL,UPL Ltd.,0.03,-0.12,0.06,0.00,-0.02,0.02,0.02,-0.01,-0.07,-0.09,0.02
45,ULTRACEMCO,UltraTech Cement Ltd.,0.02,0.02,-0.06,0.14,-0.09,-0.02,-0.09,0.03,0.09,-0.06,0.04
47,WIPRO,Wipro Ltd.,0.00,0.11,-0.13,0.10,-0.04,0.14,-0.06,0.13,0.05,-0.08,0.02

In [ ]:
# df=pd.read_csv(r'E:\MTECH_THESIS_2021\LATEST WORK\p_e_ratio_nifty50_2.csv')
# df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
# df=df.dropna()
# df['feb_jan'] = df['FEB'] - df['JAN ']
# df['mar_feb'] = df['MAR'] - df['FEB']
# df['apr_mar'] = df['APR'] - df['MAR']
# df['may_apr']=df['MAY']-df['APR']
# df['jun_may']=df['JUN']-df['MAY']
# df['jul_jun']=df['JUL']-df['JUN']
# df['aug_jul']=df['AUG']-df['JUL']
# df['sep_aug']=df['SEP']-df['AUG']
# df['oct_sep']=df['OCT']-df['SEP']
# df['nov_oct']=df['NOV']-df['OCT']
# df['dec_nov']=df['DEC']-df['NOV']
# df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'], axis=1, inplace=True)
# df

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\p_e_ratio_nifty50-final.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df['feb_jan'] = (df['FEB'] - df['JAN '])/df['FEB']
df['mar_feb'] = (df['MAR'] - df['FEB'])/df['MAR']
df['apr_mar'] = (df['APR'] - df['MAR'])/df['APR']
df['may_apr']=(df['MAY']-df['APR'])/df['MAY']
df['jun_may']=(df['JUN']-df['MAY'])/df['JUN']
df['jul_jun']=(df['JUL']-df['JUN'])/df['JUL']
df['aug_jul']=(df['AUG']-df['JUL'])/df['AUG']
df['sep_aug']=(df['SEP']-df['AUG'])/df['SEP']
df['oct_sep']=(df['OCT']-df['SEP'])/df['OCT']
df['nov_oct']=(df['NOV']-df['OCT'])/df['NOV']
df['dec_nov']=(df['DEC']-df['NOV'])/df['DEC']
df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'], axis=1, inplace=True)
df

,Security Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.065041,-0.362881,0.134293,0.284325,0.058697,-0.092353,0.115044,0.029798,0.052178,0.043936,0.147816
1,ASIANPAINT,Asian Paints Ltd.,0.001732,-0.079014,0.053097,-0.044889,0.005850,0.175895,0.098025,0.042356,0.099143,0.001926,0.197941
2,AXISBANK,Axis Bank Ltd.,-0.046274,-0.836315,0.669719,-0.160240,0.057351,0.140517,0.199066,-0.170681,-0.809423,0.182396,0.029714
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.100126,-0.426774,0.229224,0.041169,0.040153,0.161859,-0.000534,-0.031991,0.074055,0.090149,0.079555
4,BAJFINANCE,Bajaj Finance Ltd.,0.021929,-1.028418,0.043718,-0.137545,0.309833,0.169705,0.068182,-0.064968,0.115991,0.325330,0.074272
5,BAJAJFINSV,Bajaj Finserv Ltd.,-0.042535,-0.974204,0.099802,0.028791,0.245474,-0.046212,-0.002659,-0.057430,0.011513,0.310996,0.091451
6,BPCL,Bharat Petroleum Corporation Ltd.,-0.308538,-0.348917,0.146887,-0.079832,0.641566,0.095984,-0.151705,-0.154821,-0.215072,0.050157,0.020972
8,BRITANNIA,Britannia Industries Ltd.,-0.139651,-0.104692,0.150096,0.063743,0.007122,-0.139012,-0.026884,0.018945,-0.152891,0.044404,-0.016431
9,CIPLA,Cipla Ltd.,-0.125708,0.050856,0.282456,0.155806,-0.011687,0.111318,-0.076548,0.080896,-0.041438,-0.116764,0.091845
10,COALINDIA,Coal India Ltd.,-0.043630,-0.201258,0.057312,-0.054167,0.018405,-0.025157,0.038306,0.017822,-0.016097,0.128070,0.071661
11,DRREDDY,Dr. Reddy's Laboratories Ltd.,-0.064358,0.061392,0.208420,-0.151751,-0.033086,0.163693,-0.062071,0.179216,0.121758,-0.012022,0.071960
12,EICHERMOT,Eicher Motors Ltd.,-0.201186,-0.268519,0.109737,0.112077,0.201899,0.111868,0.287924,0.048968,-0.056122,0.321266,-0.213331
13,GAIL,GAIL (India) Ltd.,-0.388669,-0.367568,0.201439,-0.037313,-0.370143,-0.058442,0.081511,-0.100656,-0.024664,0.193490,0.153139
14,GRASIM,Grasim Industries Ltd.,-0.060144,-0.444877,0.060901,0.141213,-0.038002,0.021254,0.274480,0.092372,0.044786,0.131747,0.032566
15,HCLTECH,HCL Technologies Ltd.,-0.107991,-0.222711,0.195467,-0.045152,0.010256,0.162063,-0.017489,0.145678,0.001598,-0.025683,0.131054
16,HDFCBANK,HDFC Bank Ltd.,-0.040293,-0.366518,0.108135,-0.052742,0.108058,-0.077811,0.074779,-0.033109,0.054017,0.178904,-0.002616
17,HEROMOTOCO,Hero MotoCorp Ltd.,-0.280000,-0.284349,0.263852,0.083803,0.112938,0.048299,0.401709,0.043969,-0.159747,0.098087,0.001625
18,HINDALCO,Hindalco Industries Ltd.,-7.864799,-0.635458,0.266082,0.063014,0.162844,0.103803,0.533333,-0.056231,-0.027055,0.466111,0.061767
19,HINDUNILVR,Hindustan Unilever Ltd.,0.064740,0.053611,0.042807,-0.067347,0.056676,-0.000132,-0.045480,-0.022548,-0.021448,0.030290,0.014309
20,HDFC,Housing Development Finance Corporation Ltd.,-0.106481,-0.334363,0.149146,-0.134974,0.055634,-0.007807,0.058784,-0.052003,0.095359,0.374055,0.117936
21,ICICIBANK,ICICI Bank Ltd.,-0.059084,-0.528907,0.146163,-0.153470,0.055065,-0.076958,0.175131,-0.113051,-0.237018,0.169868,0.116516
22,ITC,ITC Ltd.,-0.190623,-0.148831,0.055556,0.077778,-0.077844,0.089643,-0.014751,-0.129077,0.017053,0.156502,0.073561
24,INDUSINDBK,IndusInd Bank Ltd.,-0.139918,-2.144177,0.256868,-0.189542,0.404090,0.169094,-0.096717,0.288061,0.000000,0.317672,0.042114
25,INFY,Infosys Ltd.,-0.061417,-0.142086,0.040828,0.019729,0.060879,0.218453,-0.040913,0.078937,0.003557,0.036190,0.123832
26,JSWSTEEL,JSW Steel Ltd.,-0.064486,-0.609023,0.108579,0.323663,0.029903,0.478680,0.184063,0.028000,0.457165,0.118650,0.094946
27,KOTAKBANK,Kotak Mahindra Bank Ltd.,-0.043674,-0.249208,0.045042,-0.055713,0.099968,0.014789,0.024854,-0.105495,0.128842,0.186343,0.047412
28,LT,Larsen & Toubro Ltd.,-0.157059,-0.466782,0.100853,0.038060,0.034582,0.092810,0.034091,-0.047619,-0.317073,0.166909,0.133333
30,MARUTI,Maruti Suzuki India Ltd.,-0.100000,-0.465394,0.200076,0.123201,0.038932,0.337172,0.084537,-0.014057,0.023584,0.010142,0.081385
31,NTPC,NTPC Ltd.,-0.748162,-0.265116,0.115226,0.006135,0.653191,-0.102424,0.228123,-0.132604,0.027261,-0.010074,0.051592
32,NESTLEIND,Nestle India Ltd.,-0.043653,0.032703,0.089551,-0.053479,-0.020731,-0.064369,-0.036401,-0.001355,0.075883,0.027994,0.039963
33,ONGC,Oil & Natural Gas Corporation Ltd.,-0.029412,-0.346535,0.145877,0.038618,-0.020747,0.466814,0.044397,0.553984,-0.066901,0.362003,0.157838
34,POWERGRID,Power Grid Corporation of India Ltd.,-0.029412,-0.141791,0.018315,-0.028249,0.455943,0.021063,0.091985,-0.100200,0.049524,0.019608,-0.014205
35,RELIANCE,Reliance Industries Ltd.,-0.062822,-0.194342,0.293964,0.085385,0.139734,0.110334,0.005441,0.069480,-0.043746,-0.075805,0.037690
36,SBIN,State Bank of India,-0.051260,-0.538770,-0.033863,-0.427022,-0.259627,-0.017699,0.098062,-0.115776,-0.005115,0.158235,0.111005
37,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.075101,-0.059186,0.242468,0.079868,-8.649682,0.982235,-0.025589,-0.035946,-0.095771,-0.819075,0.136472
38,TCS,Tata Consultancy Services Ltd.,-0.039292,-0.097630,0.097519,-0.021853,0.052980,0.119534,-0.011799,0.094491,0.081852,0.005488,0.078910
40,TATASTEEL,Tata Steel Ltd.,0.292108,-0.415000,0.096386,-0.010654,0.740008,0.108327,-2.642674,-0.149188,0.123057,0.471233,0.102091
41,TECHM,Tech Mahindra Ltd.,-0.069217,-0.316547,0.043578,-0.029111,0.023810,0.200737,0.079661,0.063987,0.042047,0.071059,0.099958
42,TITAN,Titan Company Ltd.,0.012634,-0.344173,0.037559,-0.088998,0.059986,0.089318,0.473635,0.084375,0.127590,0.142089,0.133769
43,UPL,UPL Ltd.,-0.271572,-0.593220,0.222548,-0.561143,0.043716,0.019293,0.054711,-0.007143,-0.319865,-0.085526,0.104712
44,ULTRACEMCO,UltraTech Cement Ltd.,-0.046970,-0.296617,0.078628,-0.490449,-0.002069,0.134348,-0.055792,0.034687,0.006349,0.047927,0.091052
45,WIPRO,Wipro Ltd.,-0.023456,-0.124890,-0.015179,0.103283,0.032533,0.217101,-0.033856,0.152947,0.067822,0.027911,0.092576

In [ ]:
X = df.iloc[:, [2,3,4,5,6,7,8,9,10,11,12]].values
kmeans = KMeans(n_clusters = 10, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
df['Label_kmean']=y_kmeans
df = df.sort_values(by = 'Label_kmean')
df

,Security Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,Label_kmean
45,WIPRO,Wipro Ltd.,-0.023456,-0.124890,-0.015179,0.103283,0.032533,0.217101,-0.033856,0.152947,0.067822,0.027911,0.092576,0
27,KOTAKBANK,Kotak Mahindra Bank Ltd.,-0.043674,-0.249208,0.045042,-0.055713,0.099968,0.014789,0.024854,-0.105495,0.128842,0.186343,0.047412,0
19,HINDUNILVR,Hindustan Unilever Ltd.,0.064740,0.053611,0.042807,-0.067347,0.056676,-0.000132,-0.045480,-0.022548,-0.021448,0.030290,0.014309,0
32,NESTLEIND,Nestle India Ltd.,-0.043653,0.032703,0.089551,-0.053479,-0.020731,-0.064369,-0.036401,-0.001355,0.075883,0.027994,0.039963,0
15,HCLTECH,HCL Technologies Ltd.,-0.107991,-0.222711,0.195467,-0.045152,0.010256,0.162063,-0.017489,0.145678,0.001598,-0.025683,0.131054,0
34,POWERGRID,Power Grid Corporation of India Ltd.,-0.029412,-0.141791,0.018315,-0.028249,0.455943,0.021063,0.091985,-0.100200,0.049524,0.019608,-0.014205,0
22,ITC,ITC Ltd.,-0.190623,-0.148831,0.055556,0.077778,-0.077844,0.089643,-0.014751,-0.129077,0.017053,0.156502,0.073561,0
11,DRREDDY,Dr. Reddy's Laboratories Ltd.,-0.064358,0.061392,0.208420,-0.151751,-0.033086,0.163693,-0.062071,0.179216,0.121758,-0.012022,0.071960,0
10,COALINDIA,Coal India Ltd.,-0.043630,-0.201258,0.057312,-0.054167,0.018405,-0.025157,0.038306,0.017822,-0.016097,0.128070,0.071661,0
35,RELIANCE,Reliance Industries Ltd.,-0.062822,-0.194342,0.293964,0.085385,0.139734,0.110334,0.005441,0.069480,-0.043746,-0.075805,0.037690,0
8,BRITANNIA,Britannia Industries Ltd.,-0.139651,-0.104692,0.150096,0.063743,0.007122,-0.139012,-0.026884,0.018945,-0.152891,0.044404,-0.016431,0
38,TCS,Tata Consultancy Services Ltd.,-0.039292,-0.097630,0.097519,-0.021853,0.052980,0.119534,-0.011799,0.094491,0.081852,0.005488,0.078910,0
1,ASIANPAINT,Asian Paints Ltd.,0.001732,-0.079014,0.053097,-0.044889,0.005850,0.175895,0.098025,0.042356,0.099143,0.001926,0.197941,0
9,CIPLA,Cipla Ltd.,-0.125708,0.050856,0.282456,0.155806,-0.011687,0.111318,-0.076548,0.080896,-0.041438,-0.116764,0.091845,0
25,INFY,Infosys Ltd.,-0.061417,-0.142086,0.040828,0.019729,0.060879,0.218453,-0.040913,0.078937,0.003557,0.036190,0.123832,0
37,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.075101,-0.059186,0.242468,0.079868,-8.649682,0.982235,-0.025589,-0.035946,-0.095771,-0.819075,0.136472,1
18,HINDALCO,Hindalco Industries Ltd.,-7.864799,-0.635458,0.266082,0.063014,0.162844,0.103803,0.533333,-0.056231,-0.027055,0.466111,0.061767,2
40,TATASTEEL,Tata Steel Ltd.,0.292108,-0.415000,0.096386,-0.010654,0.740008,0.108327,-2.642674,-0.149188,0.123057,0.471233,0.102091,3
33,ONGC,Oil & Natural Gas Corporation Ltd.,-0.029412,-0.346535,0.145877,0.038618,-0.020747,0.466814,0.044397,0.553984,-0.066901,0.362003,0.157838,4
41,TECHM,Tech Mahindra Ltd.,-0.069217,-0.316547,0.043578,-0.029111,0.023810,0.200737,0.079661,0.063987,0.042047,0.071059,0.099958,4
30,MARUTI,Maruti Suzuki India Ltd.,-0.100000,-0.465394,0.200076,0.123201,0.038932,0.337172,0.084537,-0.014057,0.023584,0.010142,0.081385,4
42,TITAN,Titan Company Ltd.,0.012634,-0.344173,0.037559,-0.088998,0.059986,0.089318,0.473635,0.084375,0.127590,0.142089,0.133769,4
26,JSWSTEEL,JSW Steel Ltd.,-0.064486,-0.609023,0.108579,0.323663,0.029903,0.478680,0.184063,0.028000,0.457165,0.118650,0.094946,4
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.065041,-0.362881,0.134293,0.284325,0.058697,-0.092353,0.115044,0.029798,0.052178,0.043936,0.147816,4
12,EICHERMOT,Eicher Motors Ltd.,-0.201186,-0.268519,0.109737,0.112077,0.201899,0.111868,0.287924,0.048968,-0.056122,0.321266,-0.213331,4
17,HEROMOTOCO,Hero MotoCorp Ltd.,-0.280000,-0.284349,0.263852,0.083803,0.112938,0.048299,0.401709,0.043969,-0.159747,0.098087,0.001625,4
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.100126,-0.426774,0.229224,0.041169,0.040153,0.161859,-0.000534,-0.031991,0.074055,0.090149,0.079555,4
14,GRASIM,Grasim Industries Ltd.,-0.060144,-0.444877,0.060901,0.141213,-0.038002,0.021254,0.274480,0.092372,0.044786,0.131747,0.032566,4
24,INDUSINDBK,IndusInd Bank Ltd.,-0.139918,-2.144177,0.256868,-0.189542,0.404090,0.169094,-0.096717,0.288061,0.000000,0.317672,0.042114,5
31,NTPC,NTPC Ltd.,-0.748162,-0.265116,0.115226,0.006135,0.653191,-0.102424,0.228123,-0.132604,0.027261,-0.010074,0.051592,6
6,BPCL,Bharat Petroleum Corporation Ltd.,-0.308538,-0.348917,0.146887,-0.079832,0.641566,0.095984,-0.151705,-0.154821,-0.215072,0.050157,0.020972,6
2,AXISBANK,Axis Bank Ltd.,-0.046274,-0.836315,0.669719,-0.160240,0.057351,0.140517,0.199066,-0.170681,-0.809423,0.182396,0.029714,7
43,UPL,UPL Ltd.,-0.271572,-0.593220,0.222548,-0.561143,0.043716,0.019293,0.054711,-0.007143,-0.319865,-0.085526,0.104712,8
44,ULTRACEMCO,UltraTech Cement Ltd.,-0.046970,-0.296617,0.078628,-0.490449,-0.002069,0.134348,-0.055792,0.034687,0.006349,0.047927,0.091052,8
13,GAIL,GAIL (India) Ltd.,-0.388669,-0.367568,0.201439,-0.037313,-0.370143,-0.058442,0.081511,-0.100656,-0.024664,0.193490,0.153139,8
16,HDFCBANK,HDFC Bank Ltd.,-0.040293,-0.366518,0.108135,-0.052742,0.108058,-0.077811,0.074779,-0.033109,0.054017,0.178904,-0.002616,8
28,LT,Larsen & Toubro Ltd.,-0.157059,-0.466782,0.100853,0.038060,0.034582,0.092810,0.034091,-0.047619,-0.317073,0.166909,0.133333,8
20,HDFC,Housing Development Finance Corporation Ltd.,-0.106481,-0.334363,0.149146,-0.134974,0.055634,-0.007807,0.058784,-0.052003,0.095359,0.374055,0.117936,8
36,SBIN,State Bank of India,-0.051260,-0.538770,-0.033863,-0.427022,-0.259627,-0.017699,0.098062,-0.115776,-0.005115,0.158235,0.111005,8
21,ICICIBANK,ICICI Bank Ltd.,-0.059084,-0.528907,0.146163,-0.153470,0.055065,-0.076958,0.175131,-0.113051,-0.237018,0.169868,0.116516,8
5,BAJAJFINSV,Bajaj Finserv Ltd.,-0.042535,-0.974204,0.099802,0.028791,0.245474,-0.046212,-0.002659,-0.057430,0.011513,0.310996,0.091451,9
4,BAJFINANCE,Bajaj Finance Ltd.,0.021929,-1.028418,0.043718,-0.137545,0.309833,0.169705,0.068182,-0.064968,0.115991,0.325330,0.074272,9

In [ ]:
#k-mean clustering
d = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)

y_kmeans = kmeans.fit_predict(X)
d['feb']=y_kmeans
# d= d.sort_values(by = 'feb')
# mar-feb
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d['Mar']=y_kmeans
X = df.iloc[:, [4]].values
y_kmeans = kmeans.fit_predict(X)
d['Apr']=y_kmeans
X = df.iloc[:, [5]].values
y_kmeans = kmeans.fit_predict(X)
d['May']=y_kmeans
X = df.iloc[:, [6]].values
y_kmeans = kmeans.fit_predict(X)
d['Jun']=y_kmeans
X = df.iloc[:, [7]].values
y_kmeans = kmeans.fit_predict(X)
d['Jul']=y_kmeans
X = df.iloc[:, [8]].values
y_kmeans = kmeans.fit_predict(X)
d['Aug']=y_kmeans
X = df.iloc[:, [9]].values
y_kmeans = kmeans.fit_predict(X)
d['Sep']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d['Mar']=y_kmeans
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d['Oct']=y_kmeans
X = df.iloc[:, [11]].values
y_kmeans = kmeans.fit_predict(X)
d['Nov']=y_kmeans
X = df.iloc[:, [12]].values
y_kmeans = kmeans.fit_predict(X)
d['Dec']=y_kmeans
d= d.sort_values(by = 'feb')
d

,Symbol,Security Name,feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0,2,0,3,0,0,0,1,0,1,0
44,UPL,UPL Ltd.,0,4,0,0,0,0,0,1,0,1,0
42,TECHM,Tech Mahindra Ltd.,0,2,3,0,0,4,0,4,0,1,0
37,SBIN,State Bank of India,0,2,4,4,0,0,0,1,4,0,0
36,RELIANCE,Reliance Industries Ltd.,0,1,2,2,1,1,2,3,3,2,4
35,POWERGRID,Power Grid Corporation of India Ltd.,0,2,3,0,0,0,3,1,2,1,2
32,NTPC,NTPC Ltd.,0,2,3,3,3,2,0,1,2,1,2
27,JSWSTEEL,JSW Steel Ltd.,0,2,0,0,0,0,0,1,0,1,0
26,INFY,Infosys Ltd.,0,0,3,0,3,1,2,2,3,4,3
24,IOC,Indian Oil Corporation Ltd.,0,2,3,0,0,0,3,1,0,1,0
45,ULTRACEMCO,UltraTech Cement Ltd.,0,2,3,3,3,0,3,4,0,1,0
15,GRASIM,Grasim Industries Ltd.,0,2,3,3,0,0,0,4,0,1,2
14,GAIL,GAIL (India) Ltd.,0,2,0,0,0,0,3,1,0,1,0
47,WIPRO,Wipro Ltd.,0,2,3,3,0,4,3,4,2,1,0
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0,4,0,3,3,4,3,4,2,1,0
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0,2,0,3,0,0,3,1,0,1,0
5,BAJAJFINSV,Bajaj Finserv Ltd.,0,4,3,0,0,0,3,1,4,0,2
6,BPCL,Bharat Petroleum Corporation Ltd.,0,2,0,0,0,0,3,1,0,1,2
11,COALINDIA,Coal India Ltd.,0,2,3,0,3,0,3,1,2,1,0
10,CIPLA,Cipla Ltd.,0,4,0,3,3,0,3,4,2,1,0
9,BRITANNIA,Britannia Industries Ltd.,0,4,0,3,0,0,3,1,2,1,2
17,HDFCBANK,HDFC Bank Ltd.,1,3,0,4,1,3,1,0,4,3,1
4,BAJFINANCE,Bajaj Finance Ltd.,1,4,3,4,1,4,0,1,1,3,0
20,HINDUNILVR,Hindustan Unilever Ltd.,1,4,1,4,4,2,2,1,3,4,0
7,BHARTIARTL,Bharti Airtel Ltd.,1,2,0,2,0,2,2,0,2,1,0
29,LT,Larsen & Toubro Ltd.,2,2,3,3,3,2,0,1,4,0,0
23,ITC,ITC Ltd.,2,4,4,2,2,2,3,0,2,0,0
21,HDFC,Housing Development Finance Corporation Ltd.,2,3,0,1,3,2,3,1,0,0,3
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,3,3,4,4,1,2,3,0,2,3,2
22,ICICIBANK,ICICI Bank Ltd.,3,0,0,1,3,2,4,0,1,3,3
1,ASIANPAINT,Asian Paints Ltd.,3,0,3,0,3,0,0,4,2,1,3
43,TITAN,Titan Company Ltd.,3,4,3,0,0,0,0,4,0,1,0
33,NESTLEIND,Nestle India Ltd.,3,2,3,0,3,0,3,1,2,1,2
2,AXISBANK,Axis Bank Ltd.,3,0,0,4,0,0,1,0,1,0,2
39,TCS,Tata Consultancy Services Ltd.,3,0,3,3,3,4,2,2,3,4,2
41,TATASTEEL,Tata Steel Ltd.,4,2,3,0,0,0,0,1,0,0,0
40,TATAMOTORS,Tata Motors Ltd.,4,2,0,0,0,0,0,1,0,0,2
16,HCLTECH,HCL Technologies Ltd.,4,2,0,3,3,4,3,4,0,1,0
25,INDUSINDBK,IndusInd Bank Ltd.,4,2,0,0,0,0,0,1,1,0,2
18,HEROMOTOCO,Hero MotoCorp Ltd.,4,4,0,3,0,0,0,4,0,1,2
19,HINDALCO,Hindalco Industries Ltd.,4,2,0,3,0,0,0,1,0,0,2
34,ONGC,Oil & Natural Gas Corporation Ltd.,4,4,0,3,3,0,0,1,0,1,0
31,MARUTI,Maruti Suzuki India Ltd.,4,2,0,3,3,0,0,1,0,1,0
13,EICHERMOT,Eicher Motors Ltd.,4,4,3,3,0,0,3,4,0,1,2
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,4,4,0,3,3,0,3,1,2,1,0
30,M&M,Mahindra & Mahindra Ltd.,4,4,0,3,0,4,3,1,0,0,2

In [ ]:
d['feb']=d["feb"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d["Mar"]=d["Mar"].replace({0: 'C', 1: 'A', 2:'D', 3:'E', 4:'B'})
d['Apr']=d["Apr"].replace({0: 'D', 1: 'A', 2:'E', 3:'C', 4:'B'})
d['May']=d["May"].replace({0: 'C', 1: 'A', 2:'E', 3:'D', 4:'B'})
d['Jun']=d["Jun"].replace({0: 'C', 1: 'D', 2:'A', 3:'B', 4:'E'})
d['Jul']=d["Jul"].replace({0: 'D', 1: 'A', 2:'E', 3:'B', 4:'C'})
d['Aug']=d["Aug"].replace({0: 'B', 1: 'D', 2:'A', 3:'E', 4:'C'})
d['Sep']=d["Sep"].replace({0: 'A', 1: 'B', 2:'D', 3:'E', 4:'C'})
d['Oct']=d["Oct"].replace({0: 'D', 1: 'A', 2:'C', 3:'E', 4:'B'})
d['Nov']=d["Nov"].replace({0: 'C', 1: 'A', 2:'D', 3:'B', 4:'E'})
d['Dec']=d["Dec"].replace({0: 'A', 1: 'C', 2:'E', 3:'C', 4:'B'})
# d['Dec']=d["Dec"].replace({0: 'C', 1: 'A', 2:'D', 3:'E', 4:'B'})
d= d.sort_values(by = 'feb')
d

,Symbol,Security Name,feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
29,LT,Larsen & Toubro Ltd.,A,D,C,D,B,E,B,B,B,C,A
23,ITC,ITC Ltd.,A,B,B,E,A,E,E,A,C,C,A
21,HDFC,Housing Development Finance Corporation Ltd.,A,E,D,A,B,E,E,B,D,C,C
30,M&M,Mahindra & Mahindra Ltd.,B,B,D,D,C,C,E,B,D,C,E
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,B,B,D,D,B,D,E,B,C,A,A
41,TATASTEEL,Tata Steel Ltd.,B,D,C,C,C,D,B,B,D,C,A
16,HCLTECH,HCL Technologies Ltd.,B,D,D,D,B,C,E,C,D,A,A
40,TATAMOTORS,Tata Motors Ltd.,B,D,D,C,C,D,B,B,D,C,E
18,HEROMOTOCO,Hero MotoCorp Ltd.,B,B,D,D,C,D,B,C,D,A,E
19,HINDALCO,Hindalco Industries Ltd.,B,D,D,D,C,D,B,B,D,C,E
34,ONGC,Oil & Natural Gas Corporation Ltd.,B,B,D,D,B,D,B,B,D,A,A
31,MARUTI,Maruti Suzuki India Ltd.,B,D,D,D,B,D,B,B,D,A,A
13,EICHERMOT,Eicher Motors Ltd.,B,B,C,D,C,D,E,C,D,A,E
25,INDUSINDBK,IndusInd Bank Ltd.,B,D,D,C,C,D,B,B,A,C,E
10,CIPLA,Cipla Ltd.,C,B,D,D,B,D,E,C,C,A,A
9,BRITANNIA,Britannia Industries Ltd.,C,B,D,D,C,D,E,B,C,A,E
11,COALINDIA,Coal India Ltd.,C,D,C,C,B,D,E,B,C,A,A
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,C,D,D,D,C,D,B,B,D,A,A
5,BAJAJFINSV,Bajaj Finserv Ltd.,C,B,C,C,C,D,E,B,B,C,E
27,JSWSTEEL,JSW Steel Ltd.,C,D,D,C,C,D,B,B,D,A,A
6,BPCL,Bharat Petroleum Corporation Ltd.,C,D,D,C,C,D,E,B,D,A,E
32,NTPC,NTPC Ltd.,C,D,C,D,B,E,B,B,C,A,E
35,POWERGRID,Power Grid Corporation of India Ltd.,C,D,C,C,C,D,E,B,C,A,E
36,RELIANCE,Reliance Industries Ltd.,C,A,E,E,D,A,A,E,E,D,B
45,ULTRACEMCO,UltraTech Cement Ltd.,C,D,C,D,B,D,E,C,D,A,A
26,INFY,Infosys Ltd.,C,C,C,C,B,A,A,D,E,E,C
15,GRASIM,Grasim Industries Ltd.,C,D,C,D,C,D,B,C,D,A,E
37,SBIN,State Bank of India,C,D,B,B,C,D,B,B,B,C,A
42,TECHM,Tech Mahindra Ltd.,C,D,C,C,C,C,B,C,D,A,A
47,WIPRO,Wipro Ltd.,C,D,C,D,C,C,E,C,C,A,A
44,UPL,UPL Ltd.,C,B,D,C,C,D,B,B,D,A,A
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,C,B,D,D,B,C,E,C,C,A,A
3,BAJAJ-AUTO,Bajaj Auto Ltd.,C,D,D,D,C,D,E,B,D,A,A
14,GAIL,GAIL (India) Ltd.,C,D,D,C,C,D,E,B,D,A,A
24,IOC,Indian Oil Corporation Ltd.,C,D,C,C,C,D,E,B,D,A,A
43,TITAN,Titan Company Ltd.,D,B,C,C,C,D,B,C,D,A,A
2,AXISBANK,Axis Bank Ltd.,D,C,D,B,C,D,D,A,A,C,E
33,NESTLEIND,Nestle India Ltd.,D,D,C,C,B,D,E,B,C,A,E
1,ASIANPAINT,Asian Paints Ltd.,D,C,C,C,B,D,B,C,C,A,C
22,ICICIBANK,ICICI Bank Ltd.,D,C,D,A,B,E,C,A,A,B,C
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,D,E,B,B,D,E,E,A,C,B,E
39,TCS,Tata Consultancy Services Ltd.,D,C,C,D,B,C,A,D,E,E,E
7,BHARTIARTL,Bharti Airtel Ltd.,E,D,D,E,C,E,A,A,C,A,A
20,HINDUNILVR,Hindustan Unilever Ltd.,E,B,A,B,E,E,A,B,E,E,A
17,HDFCBANK,HDFC Bank Ltd.,E,E,D,B,D,B,D,A,B,B,C
4,BAJFINANCE,Bajaj Finance Ltd.,E,B,C,B,D,C,B,B,A,B,A

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03
8,INFRATEL,Bharti Infratel Ltd.,0.43,0.39,0.38,0.36,0.49,0.43,0.35,0.35,NaN,NaN,NaN,NaN
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,3.03
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.90,0.97,0.85,0.85,0.82,0.80
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03
46,VEDL,Vedanta Ltd.,0.51,0.45,0.33,0.40,0.42,0.45,NaN,NaN,NaN,NaN,NaN,NaN
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95
48,YESBANK,Yes Bank Ltd.,0.18,0.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,ZEEL,Zee Entertainment Enterprises Ltd.,0.41,0.39,0.32,0.35,0.42,0.36,0.27,0.38,NaN,NaN,NaN,NaN
50,SHREECEM,Shree Cement Ltd.,NaN,NaN,0.65,0.64,0.70,0.71,0.62,0.56,0.56,0.58,0.58,0.53
51,HDFCLIFE,HDFC Life,NaN,NaN,NaN,NaN,NaN,NaN,0.97,0.86,0.91,0.93,0.91,0.88
52,DIVISLAB,Divi's Laboratories Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80,0.80,0.82,0.81
53,SBILIFE,SBI Life Insurance Company Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65,0.60,0.59,0.59

# k-mean clustering taking percentage difference in month weight as features.

In [ ]:
import pandas as pd
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df['feb_jan'] = (df['FEB'] - df['JAN '])/df['FEB']
df['mar_feb'] = (df['MAR'] - df['FEB'])/df['MAR']
df['apr_mar'] = (df['APR'] - df['MAR'])/df['APR']
df['may_apr']=(df['MAY']-df['APR'])/df['MAY']
df['jun_may']=(df['JUN']-df['MAY'])/df['JUN']
df['jul_jun']=(df['JUL']-df['JUN'])/df['JUL']
df['aug_jul']=(df['AUG']-df['JUL'])/df['AUG']
df['sep_aug']=(df['SEP']-df['AUG'])/df['SEP']
df['oct_sep']=(df['OCT']-df['SEP'])/df['OCT']
df['nov_oct']=(df['NOV']-df['OCT'])/df['NOV']
df['dec_nov']=(df['DEC']-df['NOV'])/df['DEC']
df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'], axis=1, inplace=True)
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.017544,-0.055556,0.018182,0.126984,-0.050000,-0.176471,0.072727,-0.057692,0.000000,0.037037,0.084746
1,ASIANPAINT,Asian Paints Ltd.,0.062857,0.166667,-0.088083,-0.015789,-0.085714,-0.060606,0.067797,0.043243,0.070352,-0.111732,0.135266
2,AXISBANK,Axis Bank Ltd.,0.020896,-0.401674,0.020492,-0.119266,-0.028302,-0.019231,0.181102,-0.170507,0.106996,0.089888,-0.047059
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.037037,-0.094595,0.108434,0.067416,-0.047059,-0.011905,-0.050000,-0.038961,-0.026667,-0.013514,0.000000
4,BAJFINANCE,Bajaj Finance Ltd.,0.088000,-0.524390,-0.100671,-0.146154,0.248555,0.059783,0.036649,-0.067039,-0.022857,0.248927,0.000000
5,BAJAJFINSV,Bajaj Finserv Ltd.,0.025424,-0.512821,-0.040000,-0.119403,0.172840,-0.012500,-0.038961,-0.054795,-0.089552,0.294737,-0.067416
6,BPCL,Bharat Petroleum Corporation Ltd.,0.000000,-0.042254,0.013889,-0.043478,0.000000,0.028169,-0.044118,-0.172414,-0.017544,-0.055556,-0.058824
7,BHARTIARTL,Bharti Airtel Ltd.,0.110672,0.080000,0.017857,0.096774,0.000000,-0.087719,-0.117647,-0.225962,0.000000,-0.045226,0.019704
9,BRITANNIA,Britannia Industries Ltd.,0.000000,0.136364,0.032967,0.090000,-0.020408,-0.020833,-0.054945,0.010870,-0.121951,-0.064935,-0.100000
10,CIPLA,Cipla Ltd.,-0.045455,0.266667,0.178082,0.120482,-0.106667,0.038462,-0.040000,0.074074,-0.065789,-0.117647,0.014493
11,COALINDIA,Coal India Ltd.,-0.014493,0.158537,-0.078947,-0.027027,-0.156250,-0.103448,0.000000,-0.160000,-0.041667,-0.021277,0.000000
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.012987,0.273585,0.086207,0.064516,-0.127273,0.059829,-0.093458,0.176923,-0.101695,-0.123810,0.000000
13,EICHERMOT,Eicher Motors Ltd.,-0.140000,0.019608,-0.020000,0.137931,0.016949,0.032787,-0.016667,0.047619,-0.086207,0.079365,-0.067797
14,GAIL,GAIL (India) Ltd.,-0.071429,-0.050000,0.069767,0.000000,0.022727,-0.157895,-0.027027,-0.121212,-0.064516,0.088235,0.105263
15,GRASIM,Grasim Industries Ltd.,-0.050847,-0.134615,-0.061224,0.155172,-0.035714,-0.056604,0.036364,0.098361,0.000000,0.016129,-0.016393
16,HCLTECH,HCL Technologies Ltd.,-0.040000,0.053030,0.083333,0.040000,-0.079137,0.152439,-0.051282,0.142857,0.000000,-0.137500,0.058824
17,HDFCBANK,HDFC Bank Ltd.,0.024545,-0.055662,0.013258,-0.021277,0.029108,-0.114017,0.043043,-0.033092,0.056585,0.085638,-0.081003
18,HEROMOTOCO,Hero MotoCorp Ltd.,-0.137931,0.000000,0.147059,0.116883,-0.013158,-0.027027,0.086420,0.035714,-0.166667,0.000000,-0.074627
19,HINDALCO,Hindalco Industries Ltd.,-0.142857,-0.256410,0.152174,0.098039,-0.040816,0.039216,0.089286,-0.056604,-0.060000,0.152542,-0.017241
20,HINDUNILVR,Hindustan Unilever Ltd.,0.125000,0.267974,-0.201571,-0.035230,0.178174,-0.063981,-0.079284,-0.026247,-0.032520,-0.078947,0.036620
21,HDFC,Housing Development Finance Corporation Ltd.,-0.038224,-0.029188,0.023544,-0.120833,-0.030043,-0.060698,-0.006107,-0.018663,0.064047,0.049793,0.049934
22,ICICIBANK,ICICI Bank Ltd.,0.011511,-0.188034,0.023372,-0.111317,-0.026667,-0.093750,0.145907,-0.112871,0.064815,0.075342,0.045752
23,ITC,ITC Ltd.,-0.115591,0.110048,-0.080103,0.104167,-0.102041,-0.082873,-0.049275,-0.116505,-0.072917,0.049505,0.000000
24,IOC,Indian Oil Corporation Ltd.,0.000000,0.000000,-0.115385,0.018868,-0.060000,-0.041667,-0.066667,-0.153846,0.025000,-0.052632,0.000000
25,INDUSINDBK,IndusInd Bank Ltd.,-0.062500,-1.440678,0.144928,-0.150000,0.090909,0.029412,0.139241,-0.274194,0.060606,0.241379,-0.035714
26,INFY,Infosys Ltd.,0.006908,0.117378,-0.028213,-0.004724,-0.022544,0.178571,-0.075391,0.077428,0.015504,-0.073509,0.056283
27,JSWSTEEL,JSW Steel Ltd.,0.019231,-0.268293,0.088889,0.042553,-0.068182,0.083333,0.157895,0.000000,0.065574,0.016129,0.031250
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.021368,0.035052,-0.097285,-0.075426,0.104575,-0.074941,-0.007075,-0.107050,0.152655,0.096000,-0.030928
29,LT,Larsen & Toubro Ltd.,-0.078864,-0.136201,-0.033333,0.065744,-0.086466,-0.117647,0.004184,-0.052863,-0.004425,0.077551,0.061303
30,M&M,Mahindra & Mahindra Ltd.,-0.170213,-0.236842,0.105882,0.190476,0.070796,0.088710,-0.033333,0.000000,-0.061947,0.088710,-0.078261
31,MARUTI,Maruti Suzuki India Ltd.,-0.033333,-0.132075,0.080925,0.074866,-0.044693,-0.005618,0.053191,-0.016216,0.000000,-0.107784,0.011834
32,NTPC,NTPC Ltd.,0.000000,0.105263,-0.017857,0.058824,-0.112150,-0.188889,0.072165,-0.141176,0.000000,-0.036585,-0.025000
33,NESTLEIND,Nestle India Ltd.,0.090164,0.246914,-0.038462,0.006369,-0.113475,-0.119048,-0.067797,-0.008547,0.040984,-0.070175,-0.045872
34,ONGC,Oil & Natural Gas Corporation Ltd.,-0.119403,0.042857,0.014085,0.065789,-0.117647,-0.114754,0.016129,-0.192308,-0.106383,0.078431,0.089286
35,POWERGRID,Power Grid Corporation of India Ltd.,0.032609,0.192982,-0.128713,0.000000,0.019417,-0.051020,-0.031579,-0.104651,0.011494,0.011364,-0.086420
36,RELIANCE,Reliance Industries Ltd.,0.005388,0.077535,0.128250,0.028620,0.045783,0.110714,-0.027146,0.085235,-0.125378,-0.185318,-0.047842
37,SBIN,State Bank of India,0.015936,-0.189573,-0.185393,-0.148387,0.018987,-0.006369,0.065476,-0.142857,-0.013793,0.136905,0.040000
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.091954,0.179245,0.131148,0.046875,-0.084746,0.040650,-0.060345,-0.045045,-0.110000,-0.010101,0.066038
39,TCS,Tata Consultancy Services Ltd.,0.026432,0.152985,-0.040777,0.009615,-0.031746,0.015625,-0.044898,0.092593,0.032258,-0.107143,-0.010020
40,TATAMOTORS,Tata Motors Ltd.,-0.280000,-0.388889,0.121951,-0.051282,0.048780,-0.025000,0.245283,-0.081633,-0.042553,0.189655,-0.054545
41,TATASTEEL,Tata Steel Ltd.,-0.080645,-0.087719,-0.036364,0.017857,0.000000,0.034483,0.079365,-0.125000,0.096774,0.205128,0.037037
42,TECHM,Tech Mahindra Ltd.,0.000000,-0.010204,-0.195122,0.000000,-0.064935,0.144444,0.052632,0.059406,-0.010000,-0.030928,0.030000
43,TITAN,Titan Company Ltd.,0.115044,-0.036697,-0.101010,-0.064516,-0.021978,0.021505,0.021053,0.077670,-0.061856,0.049020,0.064220
44,UPL,UPL Ltd.,0.048387,-0.240000,0.107143,0.000000,-0.037037,0.035714,0.034483,-0.017544,-0.140000,-0.219512,0.046512
45,ULTRACEMCO,UltraTech Cement Ltd.,0.019417,0.019048,-0.060606,0.123894,-0.086538,-0.019608,-0.096774,0.031250,0.085714,-0.060606,0.038835
47,WIPRO,Wipro Ltd.,0.000000,0.134146,-0.188406,0.126582,-0.053333,0.157303,-0.072289,0.135417,0.049505,-0.086022,0.021053

In [ ]:
#k-mean clustering
d = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)

y_kmeans = kmeans.fit_predict(X)
d['Feb']=y_kmeans
# d= d.sort_values(by = 'feb')
# mar-feb
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d['Mar']=y_kmeans
X = df.iloc[:, [4]].values
y_kmeans = kmeans.fit_predict(X)
d['Apr']=y_kmeans
X = df.iloc[:, [5]].values
y_kmeans = kmeans.fit_predict(X)
d['May']=y_kmeans
X = df.iloc[:, [6]].values
y_kmeans = kmeans.fit_predict(X)
d['Jun']=y_kmeans
X = df.iloc[:, [7]].values
y_kmeans = kmeans.fit_predict(X)
d['Jul']=y_kmeans
X = df.iloc[:, [8]].values
y_kmeans = kmeans.fit_predict(X)
d['Aug']=y_kmeans
X = df.iloc[:, [9]].values
y_kmeans = kmeans.fit_predict(X)
d['Sep']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d['Mar']=y_kmeans
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d['Oct']=y_kmeans
X = df.iloc[:, [11]].values
y_kmeans = kmeans.fit_predict(X)
d['Nov']=y_kmeans
X = df.iloc[:, [12]].values
y_kmeans = kmeans.fit_predict(X)
d['Dec']=y_kmeans
d= d.sort_values(by = 'Feb')
d

,Symbol,Security Name,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0,4,4,3,0,4,1,2,2,2,3
44,UPL,UPL Ltd.,0,3,0,4,0,0,3,2,4,0,0
42,TECHM,Tech Mahindra Ltd.,0,4,2,4,0,2,1,1,2,3,0
39,TCS,Tata Consultancy Services Ltd.,0,0,1,4,0,0,0,1,0,0,2
37,SBIN,State Bank of India,0,4,2,2,4,3,1,0,4,4,0
36,RELIANCE,Reliance Industries Ltd.,0,3,0,4,4,2,0,1,2,0,1
35,POWERGRID,Power Grid Corporation of India Ltd.,0,4,3,4,4,3,0,0,0,2,4
32,NTPC,NTPC Ltd.,0,4,1,0,2,4,1,0,0,3,1
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0,2,3,1,1,1,3,0,2,4,1
27,JSWSTEEL,JSW Steel Ltd.,0,0,0,0,0,0,2,2,4,2,0
26,INFY,Infosys Ltd.,0,4,1,4,0,2,4,1,0,3,0
24,IOC,Indian Oil Corporation Ltd.,0,0,3,4,0,3,4,0,2,3,2
45,ULTRACEMCO,UltraTech Cement Ltd.,0,2,1,3,2,3,4,1,2,3,0
22,ICICIBANK,ICICI Bank Ltd.,0,0,4,2,0,1,2,0,4,4,0
17,HDFCBANK,HDFC Bank Ltd.,0,0,4,4,4,1,1,2,2,4,4
47,WIPRO,Wipro Ltd.,0,0,2,3,0,2,4,4,0,3,2
2,AXISBANK,Axis Bank Ltd.,0,2,4,2,0,3,2,0,1,4,1
5,BAJAJFINSV,Bajaj Finserv Ltd.,0,1,1,2,3,3,0,2,1,1,4
6,BPCL,Bharat Petroleum Corporation Ltd.,0,4,4,1,4,0,0,0,2,3,1
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0,3,0,0,2,0,4,4,0,0,2
11,COALINDIA,Coal India Ltd.,0,1,3,1,2,1,3,0,0,3,2
9,BRITANNIA,Britannia Industries Ltd.,0,3,4,0,0,3,0,2,0,3,4
15,GRASIM,Grasim Industries Ltd.,1,4,1,3,0,3,3,1,4,2,2
41,TATASTEEL,Tata Steel Ltd.,1,2,1,4,4,0,1,0,2,1,0
3,BAJAJ-AUTO,Bajaj Auto Ltd.,1,4,0,0,0,3,0,2,2,2,2
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,1,3,0,0,2,0,0,2,0,2,0
16,HCLTECH,HCL Technologies Ltd.,1,4,0,0,2,2,0,4,2,0,0
29,LT,Larsen & Toubro Ltd.,1,4,1,0,2,1,3,2,4,4,0
31,MARUTI,Maruti Suzuki India Ltd.,1,4,0,0,0,3,1,2,4,0,2
21,HDFC,Housing Development Finance Corporation Ltd.,1,0,4,2,0,3,3,2,2,2,0
25,INDUSINDBK,IndusInd Bank Ltd.,1,0,0,2,1,0,2,3,3,1,1
10,CIPLA,Cipla Ltd.,1,1,0,3,2,0,0,1,0,0,2
14,GAIL,GAIL (India) Ltd.,1,1,0,4,4,4,0,0,2,4,3
18,HEROMOTOCO,Hero MotoCorp Ltd.,2,3,0,3,0,3,1,1,2,2,4
19,HINDALCO,Hindalco Industries Ltd.,2,1,0,0,0,0,1,2,4,4,2
30,M&M,Mahindra & Mahindra Ltd.,2,1,0,3,1,0,0,2,4,4,4
34,ONGC,Oil & Natural Gas Corporation Ltd.,2,3,4,0,2,1,3,3,2,4,3
13,EICHERMOT,Eicher Motors Ltd.,2,1,1,3,4,0,0,1,2,4,4
23,ITC,ITC Ltd.,2,1,3,3,2,1,0,0,0,2,2
4,BAJFINANCE,Bajaj Finance Ltd.,3,4,3,2,3,0,3,2,1,1,2
20,HINDUNILVR,Hindustan Unilever Ltd.,3,4,2,1,3,3,4,2,0,3,0
33,NESTLEIND,Nestle India Ltd.,3,0,1,4,2,1,4,2,0,3,1
7,BHARTIARTL,Bharti Airtel Ltd.,3,4,4,0,4,1,4,3,2,3,2
43,TITAN,Titan Company Ltd.,3,1,3,1,0,0,3,1,2,2,0
1,ASIANPAINT,Asian Paints Ltd.,3,0,3,4,2,3,1,1,0,0,3
40,TATAMOTORS,Tata Motors Ltd.,4,1,0,1,4,3,2,0,1,1,1

In [ ]:
X = df.iloc[:, [2,3,4,5,6,7,8,9,10,11,12]].values
kmeans = KMeans(n_clusters = 10, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
df['Label_kmean']=y_kmeans
df = df.sort_values(by = 'Label_kmean')
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,Label_kmean
44,UPL,UPL Ltd.,0.048387,-0.240000,0.107143,0.000000,-0.037037,0.035714,0.034483,-0.017544,-0.140000,-0.219512,0.046512,0
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.037037,-0.094595,0.108434,0.067416,-0.047059,-0.011905,-0.050000,-0.038961,-0.026667,-0.013514,0.000000,0
31,MARUTI,Maruti Suzuki India Ltd.,-0.033333,-0.132075,0.080925,0.074866,-0.044693,-0.005618,0.053191,-0.016216,0.000000,-0.107784,0.011834,0
27,JSWSTEEL,JSW Steel Ltd.,0.019231,-0.268293,0.088889,0.042553,-0.068182,0.083333,0.157895,0.000000,0.065574,0.016129,0.031250,0
18,HEROMOTOCO,Hero MotoCorp Ltd.,-0.137931,0.000000,0.147059,0.116883,-0.013158,-0.027027,0.086420,0.035714,-0.166667,0.000000,-0.074627,0
15,GRASIM,Grasim Industries Ltd.,-0.050847,-0.134615,-0.061224,0.155172,-0.035714,-0.056604,0.036364,0.098361,0.000000,0.016129,-0.016393,0
13,EICHERMOT,Eicher Motors Ltd.,-0.140000,0.019608,-0.020000,0.137931,0.016949,0.032787,-0.016667,0.047619,-0.086207,0.079365,-0.067797,0
4,BAJFINANCE,Bajaj Finance Ltd.,0.088000,-0.524390,-0.100671,-0.146154,0.248555,0.059783,0.036649,-0.067039,-0.022857,0.248927,0.000000,1
5,BAJAJFINSV,Bajaj Finserv Ltd.,0.025424,-0.512821,-0.040000,-0.119403,0.172840,-0.012500,-0.038961,-0.054795,-0.089552,0.294737,-0.067416,1
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.017544,-0.055556,0.018182,0.126984,-0.050000,-0.176471,0.072727,-0.057692,0.000000,0.037037,0.084746,2
34,ONGC,Oil & Natural Gas Corporation Ltd.,-0.119403,0.042857,0.014085,0.065789,-0.117647,-0.114754,0.016129,-0.192308,-0.106383,0.078431,0.089286,2
32,NTPC,NTPC Ltd.,0.000000,0.105263,-0.017857,0.058824,-0.112150,-0.188889,0.072165,-0.141176,0.000000,-0.036585,-0.025000,2
24,IOC,Indian Oil Corporation Ltd.,0.000000,0.000000,-0.115385,0.018868,-0.060000,-0.041667,-0.066667,-0.153846,0.025000,-0.052632,0.000000,2
23,ITC,ITC Ltd.,-0.115591,0.110048,-0.080103,0.104167,-0.102041,-0.082873,-0.049275,-0.116505,-0.072917,0.049505,0.000000,2
7,BHARTIARTL,Bharti Airtel Ltd.,0.110672,0.080000,0.017857,0.096774,0.000000,-0.087719,-0.117647,-0.225962,0.000000,-0.045226,0.019704,2
11,COALINDIA,Coal India Ltd.,-0.014493,0.158537,-0.078947,-0.027027,-0.156250,-0.103448,0.000000,-0.160000,-0.041667,-0.021277,0.000000,2
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.012987,0.273585,0.086207,0.064516,-0.127273,0.059829,-0.093458,0.176923,-0.101695,-0.123810,0.000000,3
36,RELIANCE,Reliance Industries Ltd.,0.005388,0.077535,0.128250,0.028620,0.045783,0.110714,-0.027146,0.085235,-0.125378,-0.185318,-0.047842,3
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.091954,0.179245,0.131148,0.046875,-0.084746,0.040650,-0.060345,-0.045045,-0.110000,-0.010101,0.066038,3
10,CIPLA,Cipla Ltd.,-0.045455,0.266667,0.178082,0.120482,-0.106667,0.038462,-0.040000,0.074074,-0.065789,-0.117647,0.014493,3
9,BRITANNIA,Britannia Industries Ltd.,0.000000,0.136364,0.032967,0.090000,-0.020408,-0.020833,-0.054945,0.010870,-0.121951,-0.064935,-0.100000,3
16,HCLTECH,HCL Technologies Ltd.,-0.040000,0.053030,0.083333,0.040000,-0.079137,0.152439,-0.051282,0.142857,0.000000,-0.137500,0.058824,3
25,INDUSINDBK,IndusInd Bank Ltd.,-0.062500,-1.440678,0.144928,-0.150000,0.090909,0.029412,0.139241,-0.274194,0.060606,0.241379,-0.035714,4
2,AXISBANK,Axis Bank Ltd.,0.020896,-0.401674,0.020492,-0.119266,-0.028302,-0.019231,0.181102,-0.170507,0.106996,0.089888,-0.047059,5
22,ICICIBANK,ICICI Bank Ltd.,0.011511,-0.188034,0.023372,-0.111317,-0.026667,-0.093750,0.145907,-0.112871,0.064815,0.075342,0.045752,6
37,SBIN,State Bank of India,0.015936,-0.189573,-0.185393,-0.148387,0.018987,-0.006369,0.065476,-0.142857,-0.013793,0.136905,0.040000,6
6,BPCL,Bharat Petroleum Corporation Ltd.,0.000000,-0.042254,0.013889,-0.043478,0.000000,0.028169,-0.044118,-0.172414,-0.017544,-0.055556,-0.058824,6
17,HDFCBANK,HDFC Bank Ltd.,0.024545,-0.055662,0.013258,-0.021277,0.029108,-0.114017,0.043043,-0.033092,0.056585,0.085638,-0.081003,6
21,HDFC,Housing Development Finance Corporation Ltd.,-0.038224,-0.029188,0.023544,-0.120833,-0.030043,-0.060698,-0.006107,-0.018663,0.064047,0.049793,0.049934,6
14,GAIL,GAIL (India) Ltd.,-0.071429,-0.050000,0.069767,0.000000,0.022727,-0.157895,-0.027027,-0.121212,-0.064516,0.088235,0.105263,6
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.021368,0.035052,-0.097285,-0.075426,0.104575,-0.074941,-0.007075,-0.107050,0.152655,0.096000,-0.030928,6
41,TATASTEEL,Tata Steel Ltd.,-0.080645,-0.087719,-0.036364,0.017857,0.000000,0.034483,0.079365,-0.125000,0.096774,0.205128,0.037037,6
29,LT,Larsen & Toubro Ltd.,-0.078864,-0.136201,-0.033333,0.065744,-0.086466,-0.117647,0.004184,-0.052863,-0.004425,0.077551,0.061303,6
1,ASIANPAINT,Asian Paints Ltd.,0.062857,0.166667,-0.088083,-0.015789,-0.085714,-0.060606,0.067797,0.043243,0.070352,-0.111732,0.135266,7
33,NESTLEIND,Nestle India Ltd.,0.090164,0.246914,-0.038462,0.006369,-0.113475,-0.119048,-0.067797,-0.008547,0.040984,-0.070175,-0.045872,7
35,POWERGRID,Power Grid Corporation of India Ltd.,0.032609,0.192982,-0.128713,0.000000,0.019417,-0.051020,-0.031579,-0.104651,0.011494,0.011364,-0.086420,7
20,HINDUNILVR,Hindustan Unilever Ltd.,0.125000,0.267974,-0.201571,-0.035230,0.178174,-0.063981,-0.079284,-0.026247,-0.032520,-0.078947,0.036620,7
45,ULTRACEMCO,UltraTech Cement Ltd.,0.019417,0.019048,-0.060606,0.123894,-0.086538,-0.019608,-0.096774,0.031250,0.085714,-0.060606,0.038835,7
39,TCS,Tata Consultancy Services Ltd.,0.026432,0.152985,-0.040777,0.009615,-0.031746,0.015625,-0.044898,0.092593,0.032258,-0.107143,-0.010020,7
30,M&M,Mahindra & Mahindra Ltd.,-0.170213,-0.236842,0.105882,0.190476,0.070796,0.088710,-0.033333,0.000000,-0.061947,0.088710,-0.078261,8
19,HINDALCO,Hindalco Industries Ltd.,-0.142857,-0.256410,0.152174,0.098039,-0.040816,0.039216,0.089286,-0.056604,-0.060000,0.152542,-0.017241,8
40,TATAMOTORS,Tata Motors Ltd.,-0.280000,-0.388889,0.121951,-0.051282,0.048780,-0.025000,0.245283,-0.081633,-0.042553,0.189655,-0.054545,8
26,INFY,Infosys Ltd.,0.006908,0.117378,-0.028213,-0.004724,-0.022544,0.178571,-0.075391,0.077428,0.015504,-0.073509,0.056283,9
42,TECHM,Tech Mahindra Ltd.,0.000000,-0.010204,-0.195122,0.000000,-0.064935,0.144444,0.052632,0.059406,-0.010000,-0.030928,0.030000,9
43,TITAN,Titan Company Ltd.,0.115044,-0.036697,-0.101010,-0.064516,-0.021978,0.021505,0.021053,0.077670,-0.061856,0.049020,0.064220,9
47,WIPRO,Wipro Ltd.,0.000000,0.134146,-0.188406,0.126582,-0.053333,0.157303,-0.072289,0.135417,0.049505,-0.086022,0.021053,9

In [ ]:
df = df.reset_index()
del df['index']
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,Label_kmean
0,UPL,UPL Ltd.,0.048387,-0.240000,0.107143,0.000000,-0.037037,0.035714,0.034483,-0.017544,-0.140000,-0.219512,0.046512,0
1,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.037037,-0.094595,0.108434,0.067416,-0.047059,-0.011905,-0.050000,-0.038961,-0.026667,-0.013514,0.000000,0
2,MARUTI,Maruti Suzuki India Ltd.,-0.033333,-0.132075,0.080925,0.074866,-0.044693,-0.005618,0.053191,-0.016216,0.000000,-0.107784,0.011834,0
3,JSWSTEEL,JSW Steel Ltd.,0.019231,-0.268293,0.088889,0.042553,-0.068182,0.083333,0.157895,0.000000,0.065574,0.016129,0.031250,0
4,HEROMOTOCO,Hero MotoCorp Ltd.,-0.137931,0.000000,0.147059,0.116883,-0.013158,-0.027027,0.086420,0.035714,-0.166667,0.000000,-0.074627,0
5,GRASIM,Grasim Industries Ltd.,-0.050847,-0.134615,-0.061224,0.155172,-0.035714,-0.056604,0.036364,0.098361,0.000000,0.016129,-0.016393,0
6,EICHERMOT,Eicher Motors Ltd.,-0.140000,0.019608,-0.020000,0.137931,0.016949,0.032787,-0.016667,0.047619,-0.086207,0.079365,-0.067797,0
7,BAJFINANCE,Bajaj Finance Ltd.,0.088000,-0.524390,-0.100671,-0.146154,0.248555,0.059783,0.036649,-0.067039,-0.022857,0.248927,0.000000,1
8,BAJAJFINSV,Bajaj Finserv Ltd.,0.025424,-0.512821,-0.040000,-0.119403,0.172840,-0.012500,-0.038961,-0.054795,-0.089552,0.294737,-0.067416,1
9,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.017544,-0.055556,0.018182,0.126984,-0.050000,-0.176471,0.072727,-0.057692,0.000000,0.037037,0.084746,2
10,ONGC,Oil & Natural Gas Corporation Ltd.,-0.119403,0.042857,0.014085,0.065789,-0.117647,-0.114754,0.016129,-0.192308,-0.106383,0.078431,0.089286,2
11,NTPC,NTPC Ltd.,0.000000,0.105263,-0.017857,0.058824,-0.112150,-0.188889,0.072165,-0.141176,0.000000,-0.036585,-0.025000,2
12,IOC,Indian Oil Corporation Ltd.,0.000000,0.000000,-0.115385,0.018868,-0.060000,-0.041667,-0.066667,-0.153846,0.025000,-0.052632,0.000000,2
13,ITC,ITC Ltd.,-0.115591,0.110048,-0.080103,0.104167,-0.102041,-0.082873,-0.049275,-0.116505,-0.072917,0.049505,0.000000,2
14,BHARTIARTL,Bharti Airtel Ltd.,0.110672,0.080000,0.017857,0.096774,0.000000,-0.087719,-0.117647,-0.225962,0.000000,-0.045226,0.019704,2
15,COALINDIA,Coal India Ltd.,-0.014493,0.158537,-0.078947,-0.027027,-0.156250,-0.103448,0.000000,-0.160000,-0.041667,-0.021277,0.000000,2
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.012987,0.273585,0.086207,0.064516,-0.127273,0.059829,-0.093458,0.176923,-0.101695,-0.123810,0.000000,3
17,RELIANCE,Reliance Industries Ltd.,0.005388,0.077535,0.128250,0.028620,0.045783,0.110714,-0.027146,0.085235,-0.125378,-0.185318,-0.047842,3
18,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.091954,0.179245,0.131148,0.046875,-0.084746,0.040650,-0.060345,-0.045045,-0.110000,-0.010101,0.066038,3
19,CIPLA,Cipla Ltd.,-0.045455,0.266667,0.178082,0.120482,-0.106667,0.038462,-0.040000,0.074074,-0.065789,-0.117647,0.014493,3
20,BRITANNIA,Britannia Industries Ltd.,0.000000,0.136364,0.032967,0.090000,-0.020408,-0.020833,-0.054945,0.010870,-0.121951,-0.064935,-0.100000,3
21,HCLTECH,HCL Technologies Ltd.,-0.040000,0.053030,0.083333,0.040000,-0.079137,0.152439,-0.051282,0.142857,0.000000,-0.137500,0.058824,3
22,INDUSINDBK,IndusInd Bank Ltd.,-0.062500,-1.440678,0.144928,-0.150000,0.090909,0.029412,0.139241,-0.274194,0.060606,0.241379,-0.035714,4
23,AXISBANK,Axis Bank Ltd.,0.020896,-0.401674,0.020492,-0.119266,-0.028302,-0.019231,0.181102,-0.170507,0.106996,0.089888,-0.047059,5
24,ICICIBANK,ICICI Bank Ltd.,0.011511,-0.188034,0.023372,-0.111317,-0.026667,-0.093750,0.145907,-0.112871,0.064815,0.075342,0.045752,6
25,SBIN,State Bank of India,0.015936,-0.189573,-0.185393,-0.148387,0.018987,-0.006369,0.065476,-0.142857,-0.013793,0.136905,0.040000,6
26,BPCL,Bharat Petroleum Corporation Ltd.,0.000000,-0.042254,0.013889,-0.043478,0.000000,0.028169,-0.044118,-0.172414,-0.017544,-0.055556,-0.058824,6
27,HDFCBANK,HDFC Bank Ltd.,0.024545,-0.055662,0.013258,-0.021277,0.029108,-0.114017,0.043043,-0.033092,0.056585,0.085638,-0.081003,6
28,HDFC,Housing Development Finance Corporation Ltd.,-0.038224,-0.029188,0.023544,-0.120833,-0.030043,-0.060698,-0.006107,-0.018663,0.064047,0.049793,0.049934,6
29,GAIL,GAIL (India) Ltd.,-0.071429,-0.050000,0.069767,0.000000,0.022727,-0.157895,-0.027027,-0.121212,-0.064516,0.088235,0.105263,6
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.021368,0.035052,-0.097285,-0.075426,0.104575,-0.074941,-0.007075,-0.107050,0.152655,0.096000,-0.030928,6
31,TATASTEEL,Tata Steel Ltd.,-0.080645,-0.087719,-0.036364,0.017857,0.000000,0.034483,0.079365,-0.125000,0.096774,0.205128,0.037037,6
32,LT,Larsen & Toubro Ltd.,-0.078864,-0.136201,-0.033333,0.065744,-0.086466,-0.117647,0.004184,-0.052863,-0.004425,0.077551,0.061303,6
33,ASIANPAINT,Asian Paints Ltd.,0.062857,0.166667,-0.088083,-0.015789,-0.085714,-0.060606,0.067797,0.043243,0.070352,-0.111732,0.135266,7
34,NESTLEIND,Nestle India Ltd.,0.090164,0.246914,-0.038462,0.006369,-0.113475,-0.119048,-0.067797,-0.008547,0.040984,-0.070175,-0.045872,7
35,POWERGRID,Power Grid Corporation of India Ltd.,0.032609,0.192982,-0.128713,0.000000,0.019417,-0.051020,-0.031579,-0.104651,0.011494,0.011364,-0.086420,7
36,HINDUNILVR,Hindustan Unilever Ltd.,0.125000,0.267974,-0.201571,-0.035230,0.178174,-0.063981,-0.079284,-0.026247,-0.032520,-0.078947,0.036620,7
37,ULTRACEMCO,UltraTech Cement Ltd.,0.019417,0.019048,-0.060606,0.123894,-0.086538,-0.019608,-0.096774,0.031250,0.085714,-0.060606,0.038835,7
38,TCS,Tata Consultancy Services Ltd.,0.026432,0.152985,-0.040777,0.009615,-0.031746,0.015625,-0.044898,0.092593,0.032258,-0.107143,-0.010020,7
39,M&M,Mahindra & Mahindra Ltd.,-0.170213,-0.236842,0.105882,0.190476,0.070796,0.088710,-0.033333,0.000000,-0.061947,0.088710,-0.078261,8
40,HINDALCO,Hindalco Industries Ltd.,-0.142857,-0.256410,0.152174,0.098039,-0.040816,0.039216,0.089286,-0.056604,-0.060000,0.152542,-0.017241,8
41,TATAMOTORS,Tata Motors Ltd.,-0.280000,-0.388889,0.121951,-0.051282,0.048780,-0.025000,0.245283,-0.081633,-0.042553,0.189655,-0.054545,8
42,INFY,Infosys Ltd.,0.006908,0.117378,-0.028213,-0.004724,-0.022544,0.178571,-0.075391,0.077428,0.015504,-0.073509,0.056283,9
43,TECHM,Tech Mahindra Ltd.,0.000000,-0.010204,-0.195122,0.000000,-0.064935,0.144444,0.052632,0.059406,-0.010000,-0.030928,0.030000,9
44,TITAN,Titan Company Ltd.,0.115044,-0.036697,-0.101010,-0.064516,-0.021978,0.021505,0.021053,0.077670,-0.061856,0.049020,0.064220,9
45,WIPRO,Wipro Ltd.,0.000000,0.134146,-0.188406,0.126582,-0.053333,0.157303,-0.072289,0.135417,0.049505,-0.086022,0.021053,9

In [ ]:
df.to_csv('file1.csv')

In [ ]:
kmeans.cluster_centers_

array([[-4.73615709e-02, -1.21424327e-01,  6.44606672e-02,
         8.49745424e-02, -3.26990634e-02,  7.24013775e-03,
         4.30979582e-02,  1.55675535e-02, -5.05666371e-02,
        -3.27409994e-02, -9.88871015e-03],
       [ 5.67118644e-02, -5.18605378e-01, -7.03355705e-02,
        -1.32778416e-01,  2.10697210e-01,  2.36413043e-02,
        -1.15591215e-03, -6.09168133e-02, -5.62046908e-02,
         2.71831940e-01, -3.37078652e-02],
       [-2.23370085e-02,  6.30213111e-02, -3.45955740e-02,
         6.34826983e-02, -8.54410583e-02, -1.13688678e-01,
        -1.03668335e-02, -1.49641288e-01, -2.79951874e-02,
         1.32195555e-03,  2.41051301e-02],
       [-2.65056041e-02,  1.64404264e-01,  1.06664427e-01,
         6.50820976e-02, -6.20744797e-02,  6.35434969e-02,
        -5.45293132e-02,  7.41522856e-02, -8.74688753e-02,
        -1.06551746e-01, -1.41473044e-03],
       [-6.25000000e-02, -1.44067797e+00,  1.44927536e-01,
        -1.50000000e-01,  9.09090909e-02,  2.94117647e-02,
         1.39240506e-01, -2.74193548e-01,  6.06060606e-02,
         2.41379310e-01, -3.57142857e-02],
       [ 2.08955224e-02, -4.01673640e-01,  2.04918033e-02,
        -1.19266055e-01, -2.83018868e-02, -1.92307692e-02,
         1.81102362e-01, -1.70506912e-01,  1.06995885e-01,
         8.98876404e-02, -4.70588235e-02],
       [-2.17558309e-02, -8.26199603e-02, -2.31716791e-02,
        -4.85685827e-02,  3.58022318e-03, -6.25184073e-02,
         2.81832078e-02, -9.84468828e-02,  3.71775500e-02,
         8.43373940e-02,  1.87260612e-02],
       [ 5.94131611e-02,  1.74428209e-01, -9.30351253e-02,
         1.48097984e-02, -1.99804602e-02, -4.97729956e-02,
        -4.20891646e-02,  4.60682422e-03,  3.47136072e-02,
        -6.95399887e-02,  1.14015029e-02],
       [-1.97689970e-01, -2.94047084e-01,  1.26669162e-01,
         7.90777850e-02,  2.62535405e-02,  3.43084546e-02,
         1.00411800e-01, -4.60788089e-02, -5.48333647e-02,
         1.43635741e-01, -5.00159011e-02],
       [ 3.04881777e-02,  5.11557652e-02, -1.28187754e-01,
         1.43354350e-02, -4.06976759e-02,  1.25456155e-01,
        -1.84990317e-02,  8.74800829e-02, -1.71171091e-03,
        -3.53596870e-02,  4.28888844e-02]])

In [ ]:
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,inf),3))

0.121
0.519
0.15
0.164
1.441
0.402
0.098
0.174
0.294
0.128

In [ ]:
df['Label_kmean']=df["Label_kmean"].replace({0: 'I', 1: 'B', 2:'G', 3:'F', 4:'A', 5:'C', 6:'J', 7:'E', 8:'D', 9:'H'})
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,Label_kmean
0,UPL,UPL Ltd.,0.048387,-0.240000,0.107143,0.000000,-0.037037,0.035714,0.034483,-0.017544,-0.140000,-0.219512,0.046512,I
1,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.037037,-0.094595,0.108434,0.067416,-0.047059,-0.011905,-0.050000,-0.038961,-0.026667,-0.013514,0.000000,I
2,MARUTI,Maruti Suzuki India Ltd.,-0.033333,-0.132075,0.080925,0.074866,-0.044693,-0.005618,0.053191,-0.016216,0.000000,-0.107784,0.011834,I
3,JSWSTEEL,JSW Steel Ltd.,0.019231,-0.268293,0.088889,0.042553,-0.068182,0.083333,0.157895,0.000000,0.065574,0.016129,0.031250,I
4,HEROMOTOCO,Hero MotoCorp Ltd.,-0.137931,0.000000,0.147059,0.116883,-0.013158,-0.027027,0.086420,0.035714,-0.166667,0.000000,-0.074627,I
5,GRASIM,Grasim Industries Ltd.,-0.050847,-0.134615,-0.061224,0.155172,-0.035714,-0.056604,0.036364,0.098361,0.000000,0.016129,-0.016393,I
6,EICHERMOT,Eicher Motors Ltd.,-0.140000,0.019608,-0.020000,0.137931,0.016949,0.032787,-0.016667,0.047619,-0.086207,0.079365,-0.067797,I
7,BAJFINANCE,Bajaj Finance Ltd.,0.088000,-0.524390,-0.100671,-0.146154,0.248555,0.059783,0.036649,-0.067039,-0.022857,0.248927,0.000000,B
8,BAJAJFINSV,Bajaj Finserv Ltd.,0.025424,-0.512821,-0.040000,-0.119403,0.172840,-0.012500,-0.038961,-0.054795,-0.089552,0.294737,-0.067416,B
9,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.017544,-0.055556,0.018182,0.126984,-0.050000,-0.176471,0.072727,-0.057692,0.000000,0.037037,0.084746,G
10,ONGC,Oil & Natural Gas Corporation Ltd.,-0.119403,0.042857,0.014085,0.065789,-0.117647,-0.114754,0.016129,-0.192308,-0.106383,0.078431,0.089286,G
11,NTPC,NTPC Ltd.,0.000000,0.105263,-0.017857,0.058824,-0.112150,-0.188889,0.072165,-0.141176,0.000000,-0.036585,-0.025000,G
12,IOC,Indian Oil Corporation Ltd.,0.000000,0.000000,-0.115385,0.018868,-0.060000,-0.041667,-0.066667,-0.153846,0.025000,-0.052632,0.000000,G
13,ITC,ITC Ltd.,-0.115591,0.110048,-0.080103,0.104167,-0.102041,-0.082873,-0.049275,-0.116505,-0.072917,0.049505,0.000000,G
14,BHARTIARTL,Bharti Airtel Ltd.,0.110672,0.080000,0.017857,0.096774,0.000000,-0.087719,-0.117647,-0.225962,0.000000,-0.045226,0.019704,G
15,COALINDIA,Coal India Ltd.,-0.014493,0.158537,-0.078947,-0.027027,-0.156250,-0.103448,0.000000,-0.160000,-0.041667,-0.021277,0.000000,G
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.012987,0.273585,0.086207,0.064516,-0.127273,0.059829,-0.093458,0.176923,-0.101695,-0.123810,0.000000,F
17,RELIANCE,Reliance Industries Ltd.,0.005388,0.077535,0.128250,0.028620,0.045783,0.110714,-0.027146,0.085235,-0.125378,-0.185318,-0.047842,F
18,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.091954,0.179245,0.131148,0.046875,-0.084746,0.040650,-0.060345,-0.045045,-0.110000,-0.010101,0.066038,F
19,CIPLA,Cipla Ltd.,-0.045455,0.266667,0.178082,0.120482,-0.106667,0.038462,-0.040000,0.074074,-0.065789,-0.117647,0.014493,F
20,BRITANNIA,Britannia Industries Ltd.,0.000000,0.136364,0.032967,0.090000,-0.020408,-0.020833,-0.054945,0.010870,-0.121951,-0.064935,-0.100000,F
21,HCLTECH,HCL Technologies Ltd.,-0.040000,0.053030,0.083333,0.040000,-0.079137,0.152439,-0.051282,0.142857,0.000000,-0.137500,0.058824,F
22,INDUSINDBK,IndusInd Bank Ltd.,-0.062500,-1.440678,0.144928,-0.150000,0.090909,0.029412,0.139241,-0.274194,0.060606,0.241379,-0.035714,A
23,AXISBANK,Axis Bank Ltd.,0.020896,-0.401674,0.020492,-0.119266,-0.028302,-0.019231,0.181102,-0.170507,0.106996,0.089888,-0.047059,C
24,ICICIBANK,ICICI Bank Ltd.,0.011511,-0.188034,0.023372,-0.111317,-0.026667,-0.093750,0.145907,-0.112871,0.064815,0.075342,0.045752,J
25,SBIN,State Bank of India,0.015936,-0.189573,-0.185393,-0.148387,0.018987,-0.006369,0.065476,-0.142857,-0.013793,0.136905,0.040000,J
26,BPCL,Bharat Petroleum Corporation Ltd.,0.000000,-0.042254,0.013889,-0.043478,0.000000,0.028169,-0.044118,-0.172414,-0.017544,-0.055556,-0.058824,J
27,HDFCBANK,HDFC Bank Ltd.,0.024545,-0.055662,0.013258,-0.021277,0.029108,-0.114017,0.043043,-0.033092,0.056585,0.085638,-0.081003,J
28,HDFC,Housing Development Finance Corporation Ltd.,-0.038224,-0.029188,0.023544,-0.120833,-0.030043,-0.060698,-0.006107,-0.018663,0.064047,0.049793,0.049934,J
29,GAIL,GAIL (India) Ltd.,-0.071429,-0.050000,0.069767,0.000000,0.022727,-0.157895,-0.027027,-0.121212,-0.064516,0.088235,0.105263,J
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.021368,0.035052,-0.097285,-0.075426,0.104575,-0.074941,-0.007075,-0.107050,0.152655,0.096000,-0.030928,J
31,TATASTEEL,Tata Steel Ltd.,-0.080645,-0.087719,-0.036364,0.017857,0.000000,0.034483,0.079365,-0.125000,0.096774,0.205128,0.037037,J
32,LT,Larsen & Toubro Ltd.,-0.078864,-0.136201,-0.033333,0.065744,-0.086466,-0.117647,0.004184,-0.052863,-0.004425,0.077551,0.061303,J
33,ASIANPAINT,Asian Paints Ltd.,0.062857,0.166667,-0.088083,-0.015789,-0.085714,-0.060606,0.067797,0.043243,0.070352,-0.111732,0.135266,E
34,NESTLEIND,Nestle India Ltd.,0.090164,0.246914,-0.038462,0.006369,-0.113475,-0.119048,-0.067797,-0.008547,0.040984,-0.070175,-0.045872,E
35,POWERGRID,Power Grid Corporation of India Ltd.,0.032609,0.192982,-0.128713,0.000000,0.019417,-0.051020,-0.031579,-0.104651,0.011494,0.011364,-0.086420,E
36,HINDUNILVR,Hindustan Unilever Ltd.,0.125000,0.267974,-0.201571,-0.035230,0.178174,-0.063981,-0.079284,-0.026247,-0.032520,-0.078947,0.036620,E
37,ULTRACEMCO,UltraTech Cement Ltd.,0.019417,0.019048,-0.060606,0.123894,-0.086538,-0.019608,-0.096774,0.031250,0.085714,-0.060606,0.038835,E
38,TCS,Tata Consultancy Services Ltd.,0.026432,0.152985,-0.040777,0.009615,-0.031746,0.015625,-0.044898,0.092593,0.032258,-0.107143,-0.010020,E
39,M&M,Mahindra & Mahindra Ltd.,-0.170213,-0.236842,0.105882,0.190476,0.070796,0.088710,-0.033333,0.000000,-0.061947,0.088710,-0.078261,D
40,HINDALCO,Hindalco Industries Ltd.,-0.142857,-0.256410,0.152174,0.098039,-0.040816,0.039216,0.089286,-0.056604,-0.060000,0.152542,-0.017241,D
41,TATAMOTORS,Tata Motors Ltd.,-0.280000,-0.388889,0.121951,-0.051282,0.048780,-0.025000,0.245283,-0.081633,-0.042553,0.189655,-0.054545,D
42,INFY,Infosys Ltd.,0.006908,0.117378,-0.028213,-0.004724,-0.022544,0.178571,-0.075391,0.077428,0.015504,-0.073509,0.056283,H
43,TECHM,Tech Mahindra Ltd.,0.000000,-0.010204,-0.195122,0.000000,-0.064935,0.144444,0.052632,0.059406,-0.010000,-0.030928,0.030000,H
44,TITAN,Titan Company Ltd.,0.115044,-0.036697,-0.101010,-0.064516,-0.021978,0.021505,0.021053,0.077670,-0.061856,0.049020,0.064220,H
45,WIPRO,Wipro Ltd.,0.000000,0.134146,-0.188406,0.126582,-0.053333,0.157303,-0.072289,0.135417,0.049505,-0.086022,0.021053,H

In [ ]:
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]
I=[]
J=[]


for i in range(len(df['Label_kmean'])):
    if df['Label_kmean'][i]=='A':
        A.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='B':
        B.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='C':
        C.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='D':
        D.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='E':
        E.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='F':
        F.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='G':
        G.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='H':
        H.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='I':
        I.append(df['Symbol'][i])
    if df['Label_kmean'][i]=='J':
        J.append(df['Symbol'][i])
print('Companies in group A: ',A)
print('Companies in group B: ',B)
print('Companies in group C: ',C)
print('Companies in group D: ',D)
print('Companies in group E: ',E)
print('Companies in group F: ',F)
print('Companies in group G: ',G)
print('Companies in group H: ',H)
print('Companies in group I: ',I)
print('Companies in group J: ',J)

Companies in group A:  ['INDUSINDBK']
Companies in group B:  ['BAJFINANCE', 'BAJAJFINSV']
Companies in group C:  ['AXISBANK']
Companies in group D:  ['M&M', 'HINDALCO', 'TATAMOTORS']
Companies in group E:  ['ASIANPAINT', 'NESTLEIND', 'POWERGRID', 'HINDUNILVR', 'ULTRACEMCO', 'TCS']
Companies in group F:  ['DRREDDY', 'RELIANCE', 'SUNPHARMA', 'CIPLA', 'BRITANNIA', 'HCLTECH']
Companies in group G:  ['ADANIPORTS', 'ONGC', 'NTPC', 'IOC', 'ITC', 'BHARTIARTL', 'COALINDIA']
Companies in group H:  ['INFY', 'TECHM', 'TITAN', 'WIPRO']
Companies in group I:  ['UPL', 'BAJAJ-AUTO', 'MARUTI', 'JSWSTEEL', 'HEROMOTOCO', 'GRASIM', 'EICHERMOT']
Companies in group J:  ['ICICIBANK', 'SBIN', 'BPCL', 'HDFCBANK', 'HDFC', 'GAIL', 'KOTAKBANK', 'TATASTEEL', 'LT']

In [ ]:
X = df.iloc[:, [10]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 0.0529725 ],
       [-0.06470038],
       [-0.12458192],
       [ 0.11053481],
       [-0.00672052]])

In [ ]:
d['Feb']=d["Feb"].replace({0: 'B', 1: 'C', 2:'D', 3:'A', 4:'E'})
d["Mar"]=d["Mar"].replace({0: 'A', 1: 'D', 2:'B', 3:'E', 4:'C'})
d['Apr']=d["Apr"].replace({0: 'A', 1: 'C', 2:'E', 3:'D', 4:'B'})
d['May']=d["May"].replace({0: 'B', 1: 'D', 2:'E', 3:'A', 4:'C'})
d['Jun']=d["Jun"].replace({0: 'D', 1: 'B', 2:'E', 3:'A', 4:'C'})
d['Jul']=d["Jul"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d['Aug']=d["Aug"].replace({0: 'D', 1: 'A', 2:'C', 3:'B', 4:'E'})
d['Sep']=d["Sep"].replace({0: 'D', 1: 'B', 2:'C', 3:'E', 4:'A'})
d['Oct']=d["Oct"].replace({0: 'B', 1: 'D', 2:'A', 3:'E', 4:'C'})
d['Nov']=d["Nov"].replace({0: 'A', 1: 'E', 2:'C', 3:'B', 4:'D'})
d['Dec']=d["Dec"].replace({0: 'C', 1: 'E', 2:'A', 3:'B', 4:'D'})
d= d.sort_values(by = 'Feb')
d

,Symbol,Security Name,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
4,BAJFINANCE,Bajaj Finance Ltd.,A,C,D,E,A,C,B,C,D,E,A
20,HINDUNILVR,Hindustan Unilever Ltd.,A,C,E,D,A,D,E,C,B,B,C
33,NESTLEIND,Nestle India Ltd.,A,A,C,C,E,E,E,C,B,B,E
7,BHARTIARTL,Bharti Airtel Ltd.,A,C,B,B,C,E,E,E,A,B,A
43,TITAN,Titan Company Ltd.,A,D,D,D,D,C,B,B,A,C,C
1,ASIANPAINT,Asian Paints Ltd.,A,A,D,C,E,D,A,B,B,A,B
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,B,C,B,A,D,B,A,C,A,C,B
9,BRITANNIA,Britannia Industries Ltd.,B,E,B,B,D,D,D,C,B,B,D
11,COALINDIA,Coal India Ltd.,B,D,D,D,E,E,B,D,B,B,A
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,B,E,A,B,E,C,E,A,B,A,A
6,BPCL,Bharat Petroleum Corporation Ltd.,B,C,B,D,C,C,D,D,A,B,E
5,BAJAJFINSV,Bajaj Finserv Ltd.,B,D,C,E,A,D,D,C,D,E,D
2,AXISBANK,Axis Bank Ltd.,B,B,B,E,D,D,C,D,D,D,E
47,WIPRO,Wipro Ltd.,B,A,E,A,D,A,E,A,B,B,A
17,HDFCBANK,HDFC Bank Ltd.,B,A,B,C,C,E,A,C,A,D,D
22,ICICIBANK,ICICI Bank Ltd.,B,A,B,E,D,E,C,D,C,D,C
45,ULTRACEMCO,UltraTech Cement Ltd.,B,B,C,A,E,D,E,B,A,B,C
24,IOC,Indian Oil Corporation Ltd.,B,A,D,C,D,D,E,D,A,B,A
26,INFY,Infosys Ltd.,B,C,C,C,D,A,E,B,B,B,C
27,JSWSTEEL,JSW Steel Ltd.,B,A,A,B,D,C,C,C,C,C,C
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,B,B,D,D,B,E,B,D,A,D,E
32,NTPC,NTPC Ltd.,B,C,C,B,E,B,A,D,B,B,E
35,POWERGRID,Power Grid Corporation of India Ltd.,B,C,D,C,C,D,D,D,B,C,D
36,RELIANCE,Reliance Industries Ltd.,B,E,A,C,C,A,D,B,A,A,E
37,SBIN,State Bank of India,B,C,E,E,C,D,A,D,C,D,C
39,TCS,Tata Consultancy Services Ltd.,B,A,C,C,D,C,D,B,B,A,A
42,TECHM,Tech Mahindra Ltd.,B,C,E,C,D,A,A,B,A,B,C
44,UPL,UPL Ltd.,B,E,A,C,D,C,B,C,C,A,C
14,GAIL,GAIL (India) Ltd.,C,D,A,C,C,B,D,D,A,D,B
10,CIPLA,Cipla Ltd.,C,D,A,A,E,C,D,B,B,A,A
15,GRASIM,Grasim Industries Ltd.,C,C,C,A,D,D,B,B,C,C,A
21,HDFC,Housing Development Finance Corporation Ltd.,C,A,B,E,D,D,B,C,A,C,C
31,MARUTI,Maruti Suzuki India Ltd.,C,C,A,B,D,D,A,C,C,A,A
29,LT,Larsen & Toubro Ltd.,C,C,C,B,E,E,B,C,C,D,C
16,HCLTECH,HCL Technologies Ltd.,C,C,A,B,E,A,D,A,A,A,C
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,C,E,A,B,E,C,D,C,B,C,C
3,BAJAJ-AUTO,Bajaj Auto Ltd.,C,C,A,B,D,D,D,C,A,C,A
41,TATASTEEL,Tata Steel Ltd.,C,B,C,C,C,C,A,D,A,E,C
25,INDUSINDBK,IndusInd Bank Ltd.,C,A,A,E,B,C,C,E,E,E,E
18,HEROMOTOCO,Hero MotoCorp Ltd.,D,E,A,A,D,D,A,B,A,C,D
19,HINDALCO,Hindalco Industries Ltd.,D,D,A,B,D,C,A,C,C,D,A
30,M&M,Mahindra & Mahindra Ltd.,D,D,A,A,B,C,D,C,C,D,D
34,ONGC,Oil & Natural Gas Corporation Ltd.,D,E,B,B,E,E,B,E,A,D,B
13,EICHERMOT,Eicher Motors Ltd.,D,D,C,A,C,C,D,B,A,D,D
23,ITC,ITC Ltd.,D,D,D,A,E,E,D,D,B,C,A
40,TATAMOTORS,Tata Motors Ltd.,E,D,A,D,C,D,C,D,D,E,E

# Hierarchial clustering of each month taking difference in weight as feature

In [ ]:
d1 = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
from sklearn.cluster import AgglomerativeClustering
hc = AgglomerativeClustering(n_clusters = 5, affinity = 'euclidean', linkage = 'ward')
X = df.iloc[:, [2]].values
y_hc = hc.fit_predict(X)
d1['Feb']=y_hc
X = df.iloc[:, [3]].values
y_hc = hc.fit_predict(X)
d1['Mar']=y_hc
X = df.iloc[:, [4]].values
y_hc = hc.fit_predict(X)
d1['Apr']=y_hc
X = df.iloc[:, [5]].values
y_hc = hc.fit_predict(X)
d1['May']=y_hc
X = df.iloc[:, [6]].values
y_hc = hc.fit_predict(X)
d1['Jun']=y_hc
X = df.iloc[:, [7]].values
y_hc = hc.fit_predict(X)
d1['Jul']=y_hc
X = df.iloc[:, [8]].values
y_hc = hc.fit_predict(X)
d1['Aug']=y_hc
X = df.iloc[:, [9]].values
y_hc = hc.fit_predict(X)
d1['Sep']=y_hc
X = df.iloc[:, [10]].values
y_hc = hc.fit_predict(X)
d1['Oct']=y_hc
X = df.iloc[:, [11]].values
y_hc = hc.fit_predict(X)
d1['Nov']=y_hc
X = df.iloc[:, [12]].values
y_hc = hc.fit_predict(X)
d1['Dec']=y_hc
d1

,Symbol,Security Name,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,UPL,UPL Ltd.,0,4,0,0,0,3,1,0,0,1,1
1,BAJAJ-AUTO,Bajaj Auto Ltd.,2,1,0,3,2,1,4,0,1,4,3
2,MARUTI,Maruti Suzuki India Ltd.,2,1,0,3,2,1,1,0,3,1,3
3,JSWSTEEL,JSW Steel Ltd.,0,4,0,0,2,0,0,0,4,4,1
4,HEROMOTOCO,Hero MotoCorp Ltd.,1,1,0,1,0,1,1,2,0,4,4
5,GRASIM,Grasim Industries Ltd.,2,1,1,1,0,1,1,2,3,4,0
6,EICHERMOT,Eicher Motors Ltd.,1,1,1,1,0,3,3,2,0,2,4
7,BAJFINANCE,Bajaj Finance Ltd.,3,2,2,2,1,3,1,0,1,0,3
8,BAJAJFINSV,Bajaj Finserv Ltd.,0,2,1,2,1,1,4,0,0,0,4
9,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0,1,4,1,2,4,1,0,3,2,2
10,ONGC,Oil & Natural Gas Corporation Ltd.,1,1,4,3,4,2,3,3,0,2,2
11,NTPC,NTPC Ltd.,0,0,1,3,4,4,1,1,3,3,0
12,IOC,Indian Oil Corporation Ltd.,0,1,2,0,2,1,2,1,3,3,3
13,ITC,ITC Ltd.,1,0,2,3,4,2,4,1,1,2,3
14,BHARTIARTL,Bharti Airtel Ltd.,3,0,4,3,0,2,2,3,3,3,3
15,COALINDIA,Coal India Ltd.,0,0,2,0,4,2,3,1,1,4,3
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,0,0,0,3,4,3,2,4,0,1,3
17,RELIANCE,Reliance Industries Ltd.,0,0,0,0,3,0,4,2,0,1,0
18,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,2,0,0,0,2,3,4,0,0,4,1
19,CIPLA,Cipla Ltd.,2,0,0,1,4,3,4,2,1,1,3
20,BRITANNIA,Britannia Industries Ltd.,0,0,4,3,0,1,4,0,0,3,4
21,HCLTECH,HCL Technologies Ltd.,2,1,0,0,2,0,4,4,3,1,1
22,INDUSINDBK,IndusInd Bank Ltd.,2,3,0,2,3,3,0,3,4,0,0
23,AXISBANK,Axis Bank Ltd.,0,2,4,2,0,1,0,1,2,2,0
24,ICICIBANK,ICICI Bank Ltd.,0,4,4,2,0,2,0,1,4,2,1
25,SBIN,State Bank of India,0,4,3,2,0,1,1,1,3,0,1
26,BPCL,Bharat Petroleum Corporation Ltd.,0,1,4,4,0,3,4,1,3,3,0
27,HDFCBANK,HDFC Bank Ltd.,0,1,4,0,0,2,1,0,4,2,4
28,HDFC,Housing Development Finance Corporation Ltd.,2,1,4,2,0,1,3,0,4,2,1
29,GAIL,GAIL (India) Ltd.,2,1,0,0,0,4,4,1,1,2,2
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,0,1,2,4,3,2,3,1,2,2,0
31,TATASTEEL,Tata Steel Ltd.,2,1,1,0,0,3,1,1,2,0,1
32,LT,Larsen & Toubro Ltd.,2,1,1,3,2,2,3,0,3,2,1
33,ASIANPAINT,Asian Paints Ltd.,0,0,2,0,2,1,1,2,4,1,2
34,NESTLEIND,Nestle India Ltd.,3,0,1,0,4,2,2,0,4,3,0
35,POWERGRID,Power Grid Corporation of India Ltd.,0,0,2,0,0,1,4,1,3,4,4
36,HINDUNILVR,Hindustan Unilever Ltd.,3,0,3,0,1,1,2,0,1,3,1
37,ULTRACEMCO,UltraTech Cement Ltd.,0,1,1,1,2,1,2,2,2,3,1
38,TCS,Tata Consultancy Services Ltd.,0,0,1,0,0,3,4,2,3,1,0
39,M&M,Mahindra & Mahindra Ltd.,1,4,0,1,3,0,4,0,1,2,4
40,HINDALCO,Hindalco Industries Ltd.,1,4,0,3,0,3,1,0,1,0,0
41,TATAMOTORS,Tata Motors Ltd.,4,2,0,4,3,1,0,0,1,0,0
42,INFY,Infosys Ltd.,0,0,1,0,0,0,2,2,3,3,1
43,TECHM,Tech Mahindra Ltd.,0,1,3,0,2,0,1,2,3,3,1
44,TITAN,Titan Company Ltd.,3,1,2,4,0,3,3,2,1,2,1
45,WIPRO,Wipro Ltd.,0,0,3,1,2,0,2,4,4,3,3

# Hierarchial clustering and K-mean clustering taking every month weight as feature

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,3.03
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.90,0.97,0.85,0.85,0.82,0.80
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95

In [ ]:
from sklearn.cluster import AgglomerativeClustering
X = df.iloc[:, [2,3,4,5,6,7,8,9,10,11,12]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
df['Label_kmean']=y_kmeans
# df = df.sort_values(by = 'Label_hirarchial')
hc = AgglomerativeClustering(n_clusters = 5, affinity = 'euclidean', linkage = 'ward')
y_hc = hc.fit_predict(X)
df['Label_hirarchial']=y_hc
df = df.sort_values(by = 'Label_kmean')
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Label_kmean,Label_hirarchial
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59,0,3
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38,0,3
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84,0,3
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64,0,3
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15,0,3
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.90,0.97,0.85,0.85,0.82,0.80,0,3
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09,0,1
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03,0,3
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56,0,3
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06,0,3
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55,0,3
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81,0,3
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00,0,3
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09,0,3
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43,0,3
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81,0,3
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58,0,3
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95,0,3
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47,0,3
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74,0,3
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89,0,3
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51,0,3
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61,0,3
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38,0,3
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70,0,3
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59,0,3
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69,0,3
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67,0,3
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05,0,3
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66,1,0
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37,1,0
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64,2,4
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12,2,2
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61,2,4
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61,3,1
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03,3,1
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70,3,1
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75,3,1
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33,3,1
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55,3,1
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07,3,1
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69,3,1
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85,4,2
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99,4,2
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55,4,2
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,3.03,4,2

In [ ]:
kmeans.cluster_centers_

array([[ 0.78965517,  0.76965517,  0.75517241,  0.76241379,  0.8       ,
         0.77034483,  0.76758621,  0.76862069,  0.75655172,  0.73448276,
         0.75068966],
       [ 9.98      , 10.14      , 10.24      , 11.05      , 11.11      ,
        11.55      , 11.78      , 11.81      , 12.285     , 11.745     ,
        11.19      ],
       [ 7.01333333,  6.95      ,  6.76333333,  6.81333333,  6.31333333,
         6.15      ,  6.31666667,  6.4       ,  6.36666667,  6.67      ,
         6.76      ],
       [ 2.3125    ,  2.3575    ,  2.08625   ,  2.03875   ,  2.03625   ,
         2.015     ,  1.97375   ,  2.035     ,  1.9125    ,  1.95375   ,
         2.0225    ],
       [ 4.0225    ,  4.075     ,  4.745     ,  4.315     ,  4.33      ,
         4.51      ,  4.3075    ,  4.125     ,  4.0325    ,  4.1675    ,
         4.1225    ]])

In [ ]:
from numpy import array
from numpy.linalg import norm
for i in kmeans.cluster_centers_:
    print(norm(i,2))

2.5409156691189723
37.12871597564344
21.88413656814756
6.87191078321743
14.113953423828491

In [ ]:
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,inf),3))

0.8
12.285
7.013
2.358
4.745

In [ ]:
#calculating the distance from the centre
import math
distance=[]
for i in range(len(kmeans.cluster_centers_)):
    init=0
    for j in range(len(kmeans.cluster_centers_[0])):
        init+=round((kmeans.cluster_centers_[i][j])*(kmeans.cluster_centers_[i][j]),3)
    distance.append(math.sqrt(init))
distance

[2.5406692031825,
 37.12870856897664,
 21.884149515117098,
 6.87197206047871,
 14.114000141703272]

# Hierarchial clustering and K-mean clustering taking every difference in weight in month as feature

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].astype("float")
df=df.dropna()
df['feb_jan'] = df['FEB'] - df['JAN ']
df['mar_feb'] = df['MAR'] - df['FEB']
df['apr_mar'] = df['APR'] - df['MAR']
df['may_apr']=df['MAY']-df['APR']
df['jun_may']=df['JUN']-df['MAY']
df['jul_jun']=df['JUL']-df['JUN']
df['aug_jul']=df['AUG']-df['JUL']
df['sep_aug']=df['SEP']-df['AUG']
df['oct_sep']=df['OCT']-df['SEP']
df['nov_oct']=df['NOV']-df['OCT']
df['dec_nov']=df['DEC']-df['NOV']
df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'], axis=1, inplace=True)

In [ ]:
X = df.iloc[:, [2,3,4,5,6,7,8,9,10,11,12]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
df['Label_kmean']=y_kmeans
hc = AgglomerativeClustering(n_clusters = 5, affinity = 'euclidean', linkage = 'ward')
y_hc = hc.fit_predict(X)
df['Label_hirarchial']=y_hc
df = df.sort_values(by = 'Label_kmean')
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,Label_kmean,Label_hirarchial
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.01,-0.03,0.01,0.08,-0.03,-0.09,0.04,-0.03,0.00,0.02,0.05,0,1
27,JSWSTEEL,JSW Steel Ltd.,0.01,-0.11,0.04,0.02,-0.03,0.04,0.09,0.00,0.04,0.01,0.02,0,1
29,LT,Larsen & Toubro Ltd.,-0.25,-0.38,-0.09,0.19,-0.23,-0.28,0.01,-0.12,-0.01,0.19,0.16,0,1
30,M&M,Mahindra & Mahindra Ltd.,-0.16,-0.18,0.09,0.20,0.08,0.11,-0.04,0.00,-0.07,0.11,-0.09,0,1
31,MARUTI,Maruti Suzuki India Ltd.,-0.06,-0.21,0.14,0.14,-0.08,-0.01,0.10,-0.03,0.00,-0.18,0.02,0,1
32,NTPC,NTPC Ltd.,0.00,0.12,-0.02,0.07,-0.12,-0.17,0.07,-0.12,0.00,-0.03,-0.02,0,1
33,NESTLEIND,Nestle India Ltd.,0.11,0.40,-0.06,0.01,-0.16,-0.15,-0.08,-0.01,0.05,-0.08,-0.05,0,1
34,ONGC,Oil & Natural Gas Corporation Ltd.,-0.08,0.03,0.01,0.05,-0.08,-0.07,0.01,-0.10,-0.05,0.04,0.05,0,1
35,POWERGRID,Power Grid Corporation of India Ltd.,0.03,0.22,-0.13,0.00,0.02,-0.05,-0.03,-0.09,0.01,0.01,-0.07,0,1
37,SBIN,State Bank of India,0.04,-0.40,-0.33,-0.23,0.03,-0.01,0.11,-0.21,-0.02,0.23,0.07,0,1
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.08,0.19,0.16,0.06,-0.10,0.05,-0.07,-0.05,-0.11,-0.01,0.07,0,1
40,TATAMOTORS,Tata Motors Ltd.,-0.14,-0.14,0.05,-0.02,0.02,-0.01,0.13,-0.04,-0.02,0.11,-0.03,0,1
41,TATASTEEL,Tata Steel Ltd.,-0.05,-0.05,-0.02,0.01,0.00,0.02,0.05,-0.07,0.06,0.16,0.03,0,1
42,TECHM,Tech Mahindra Ltd.,0.00,-0.01,-0.16,0.00,-0.05,0.13,0.05,0.06,-0.01,-0.03,0.03,0,1
43,TITAN,Titan Company Ltd.,0.13,-0.04,-0.10,-0.06,-0.02,0.02,0.02,0.08,-0.06,0.05,0.07,0,1
44,UPL,UPL Ltd.,0.03,-0.12,0.06,0.00,-0.02,0.02,0.02,-0.01,-0.07,-0.09,0.02,0,1
24,IOC,Indian Oil Corporation Ltd.,0.00,0.00,-0.06,0.01,-0.03,-0.02,-0.03,-0.06,0.01,-0.02,0.00,0,1
45,ULTRACEMCO,UltraTech Cement Ltd.,0.02,0.02,-0.06,0.14,-0.09,-0.02,-0.09,0.03,0.09,-0.06,0.04,0,1
23,ITC,ITC Ltd.,-0.43,0.46,-0.31,0.45,-0.40,-0.30,-0.17,-0.36,-0.21,0.15,0.00,0,1
11,COALINDIA,Coal India Ltd.,-0.01,0.13,-0.06,-0.02,-0.10,-0.06,0.00,-0.08,-0.02,-0.01,0.00,0,1
1,ASIANPAINT,Asian Paints Ltd.,0.11,0.35,-0.17,-0.03,-0.15,-0.10,0.12,0.08,0.14,-0.20,0.28,0,1
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.03,-0.07,0.09,0.06,-0.04,-0.01,-0.04,-0.03,-0.02,-0.01,0.00,0,1
5,BAJAJFINSV,Bajaj Finserv Ltd.,0.03,-0.40,-0.03,-0.08,0.14,-0.01,-0.03,-0.04,-0.06,0.28,-0.06,0,1
6,BPCL,Bharat Petroleum Corporation Ltd.,0.00,-0.03,0.01,-0.03,0.00,0.02,-0.03,-0.10,-0.01,-0.03,-0.03,0,1
7,BHARTIARTL,Bharti Airtel Ltd.,0.28,0.22,0.05,0.30,0.00,-0.25,-0.30,-0.47,0.00,-0.09,0.04,0,1
9,BRITANNIA,Britannia Industries Ltd.,0.00,0.12,0.03,0.09,-0.02,-0.02,-0.05,0.01,-0.10,-0.05,-0.07,0,1
10,CIPLA,Cipla Ltd.,-0.02,0.16,0.13,0.10,-0.08,0.03,-0.03,0.06,-0.05,-0.08,0.01,0,1
19,HINDALCO,Hindalco Industries Ltd.,-0.07,-0.10,0.07,0.05,-0.02,0.02,0.05,-0.03,-0.03,0.09,-0.01,0,1
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.01,0.29,0.10,0.08,-0.14,0.07,-0.10,0.23,-0.12,-0.13,0.00,0,1
13,EICHERMOT,Eicher Motors Ltd.,-0.07,0.01,-0.01,0.08,0.01,0.02,-0.01,0.03,-0.05,0.05,-0.04,0,1
47,WIPRO,Wipro Ltd.,0.00,0.11,-0.13,0.10,-0.04,0.14,-0.06,0.13,0.05,-0.08,0.02,0,1
15,GRASIM,Grasim Industries Ltd.,-0.03,-0.07,-0.03,0.09,-0.02,-0.03,0.02,0.06,0.00,0.01,-0.01,0,1
16,HCLTECH,HCL Technologies Ltd.,-0.05,0.07,0.12,0.06,-0.11,0.25,-0.08,0.26,0.00,-0.22,0.10,0,1
18,HEROMOTOCO,Hero MotoCorp Ltd.,-0.08,0.00,0.10,0.09,-0.01,-0.02,0.07,0.03,-0.12,0.00,-0.05,0,1
14,GAIL,GAIL (India) Ltd.,-0.03,-0.02,0.03,0.00,0.01,-0.06,-0.01,-0.04,-0.02,0.03,0.04,0,1
36,RELIANCE,Reliance Industries Ltd.,0.05,0.78,1.48,0.34,0.57,1.55,-0.37,1.27,-1.66,-2.07,-0.51,1,3
25,INDUSINDBK,IndusInd Bank Ltd.,-0.09,-0.85,0.10,-0.09,0.06,0.02,0.11,-0.17,0.04,0.21,-0.03,2,0
4,BAJFINANCE,Bajaj Finance Ltd.,0.22,-0.86,-0.15,-0.19,0.43,0.11,0.07,-0.12,-0.04,0.58,0.00,2,0
22,ICICIBANK,ICICI Bank Ltd.,0.08,-1.10,0.14,-0.60,-0.14,-0.45,0.82,-0.57,0.35,0.44,0.28,2,0
2,AXISBANK,Axis Bank Ltd.,0.07,-0.96,0.05,-0.26,-0.06,-0.04,0.46,-0.37,0.26,0.24,-0.12,2,0
21,HDFC,Housing Development Finance Corporation Ltd.,-0.31,-0.23,0.19,-0.87,-0.21,-0.40,-0.04,-0.12,0.44,0.36,0.38,2,0
26,INFY,Infosys Ltd.,0.04,0.77,-0.18,-0.03,-0.14,1.35,-0.53,0.59,0.12,-0.53,0.43,3,2
39,TCS,Tata Consultancy Services Ltd.,0.12,0.82,-0.21,0.05,-0.16,0.08,-0.22,0.50,0.18,-0.54,-0.05,3,1
20,HINDUNILVR,Hindustan Unilever Ltd.,0.42,1.23,-0.77,-0.13,0.80,-0.27,-0.31,-0.10,-0.12,-0.27,0.13,3,4
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.10,0.17,-0.43,-0.31,0.48,-0.32,-0.03,-0.41,0.69,0.48,-0.15,4,0
17,HDFCBANK,HDFC Bank Ltd.,0.27,-0.58,0.14,-0.22,0.31,-1.09,0.43,-0.32,0.58,0.96,-0.84,4,0

In [ ]:
kmeans.cluster_centers_

array([[-0.02428571,  0.01542857, -0.01371429,  0.05885714, -0.05314286,
        -0.02285714, -0.00828571, -0.02942857, -0.02228571,  0.004     ,
         0.01685714],
       [ 0.05      ,  0.78      ,  1.48      ,  0.34      ,  0.57      ,
         1.55      , -0.37      ,  1.27      , -1.66      , -2.07      ,
        -0.51      ],
       [-0.006     , -0.8       ,  0.066     , -0.402     ,  0.016     ,
        -0.152     ,  0.284     , -0.27      ,  0.21      ,  0.366     ,
         0.102     ],
       [ 0.19333333,  0.94      , -0.38666667, -0.03666667,  0.16666667,
         0.38666667, -0.35333333,  0.33      ,  0.06      , -0.44666667,
         0.17      ],
       [ 0.185     , -0.205     , -0.145     , -0.265     ,  0.395     ,
        -0.705     ,  0.2       , -0.365     ,  0.635     ,  0.72      ,
        -0.495     ]])

In [ ]:
#calculating the distance from the centre
import math
distance=[]
for i in range(len(kmeans.cluster_centers_)):
    init=0
    for j in range(len(kmeans.cluster_centers_[0])):
        init+=round((kmeans.cluster_centers_[i][j])*(kmeans.cluster_centers_[i][j]),3)
    distance.append(math.sqrt(init))
distance

[0.09486832980505139,
 3.8334057964165495,
 1.0821275340735028,
 1.3103434664239753,
 1.46935359937627]

In [ ]:
from numpy import array  
from numpy.linalg import norm 
from math  import inf
for i in kmeans.cluster_centers_:
    print(round(norm(i,2),3))

0.098
3.833
1.082
1.31
1.47

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew.csv')
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03
8,INFRATEL,Bharti Infratel Ltd.,0.43,0.39,0.38,0.36,0.49,0.43,0.35,0.35,NaN,NaN,NaN,NaN
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,3.03
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.90,0.97,0.85,0.85,0.82,0.80
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03
46,VEDL,Vedanta Ltd.,0.51,0.45,0.33,0.40,0.42,0.45,NaN,NaN,NaN,NaN,NaN,NaN
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95
48,YESBANK,Yes Bank Ltd.,0.18,0.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,ZEEL,Zee Entertainment Enterprises Ltd.,0.41,0.39,0.32,0.35,0.42,0.36,0.27,0.38,NaN,NaN,NaN,NaN
50,SHREECEM,Shree Cement Ltd.,NaN,NaN,0.65,0.64,0.70,0.71,0.62,0.56,0.56,0.58,0.58,0.53
51,HDFCLIFE,HDFC Life,NaN,NaN,NaN,NaN,NaN,NaN,0.97,0.86,0.91,0.93,0.91,0.88
52,DIVISLAB,Divi's Laboratories Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80,0.80,0.82,0.81
53,SBILIFE,SBI Life Insurance Company Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65,0.60,0.59,0.59

# kmean clustering taking individual weight as features

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew1.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','jan','feb']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','jan','feb']].astype("float")
df=df.dropna()
df

,Symbol,Security Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,jan,feb
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0.58,0.57,0.54,0.55,0.63,0.60,0.51,0.55,0.52,0.52,0.54,0.59,0.63,0.63
1,ASIANPAINT,Asian Paints Ltd.,1.64,1.75,2.10,1.93,1.90,1.75,1.65,1.77,1.85,1.99,1.79,2.07,1.85,1.85
2,AXISBANK,Axis Bank Ltd.,3.28,3.35,2.39,2.44,2.18,2.12,2.08,2.54,2.17,2.43,2.67,2.55,2.80,2.80
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0.84,0.81,0.74,0.83,0.89,0.85,0.84,0.80,0.77,0.75,0.74,0.74,0.89,0.79
4,BAJFINANCE,Bajaj Finance Ltd.,2.28,2.50,1.64,1.49,1.30,1.73,1.84,1.91,1.79,1.75,2.33,2.33,2.14,2.23
5,BAJAJFINSV,Bajaj Finserv Ltd.,1.15,1.18,0.78,0.75,0.67,0.81,0.80,0.77,0.73,0.67,0.95,0.89,0.90,0.93
6,BPCL,Bharat Petroleum Corporation Ltd.,0.74,0.74,0.71,0.72,0.69,0.69,0.71,0.68,0.58,0.57,0.54,0.51,0.52,0.58
7,BHARTIARTL,Bharti Airtel Ltd.,2.25,2.53,2.75,2.80,3.10,3.10,2.85,2.55,2.08,2.08,1.99,2.03,2.26,2.13
9,BRITANNIA,Britannia Industries Ltd.,0.76,0.76,0.88,0.91,1.00,0.98,0.96,0.91,0.92,0.82,0.77,0.70,0.70,0.63
10,CIPLA,Cipla Ltd.,0.46,0.44,0.60,0.73,0.83,0.75,0.78,0.75,0.81,0.76,0.68,0.69,0.71,0.64
11,COALINDIA,Coal India Ltd.,0.70,0.69,0.82,0.76,0.74,0.64,0.58,0.58,0.50,0.48,0.47,0.47,0.45,0.51
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.76,0.77,1.06,1.16,1.24,1.10,1.17,1.07,1.30,1.18,1.05,1.05,0.95,0.86
13,EICHERMOT,Eicher Motors Ltd.,0.57,0.50,0.51,0.50,0.58,0.59,0.61,0.60,0.63,0.58,0.63,0.59,0.65,0.56
14,GAIL,GAIL (India) Ltd.,0.45,0.42,0.40,0.43,0.43,0.44,0.38,0.37,0.33,0.31,0.34,0.38,0.39,0.42
15,GRASIM,Grasim Industries Ltd.,0.62,0.59,0.52,0.49,0.58,0.56,0.53,0.55,0.61,0.61,0.62,0.61,0.70,0.74
16,HCLTECH,HCL Technologies Ltd.,1.30,1.25,1.32,1.44,1.50,1.39,1.64,1.56,1.82,1.82,1.60,1.70,1.69,1.58
17,HDFCBANK,HDFC Bank Ltd.,10.73,11.00,10.42,10.56,10.34,10.65,9.56,9.99,9.67,10.25,11.21,10.37,10.29,10.66
18,HEROMOTOCO,Hero MotoCorp Ltd.,0.66,0.58,0.58,0.68,0.77,0.76,0.74,0.81,0.84,0.72,0.72,0.67,0.72,0.67
19,HINDALCO,Hindalco Industries Ltd.,0.56,0.49,0.39,0.46,0.51,0.49,0.51,0.56,0.53,0.50,0.59,0.58,0.56,0.79
20,HINDUNILVR,Hindustan Unilever Ltd.,2.94,3.36,4.59,3.82,3.69,4.49,4.22,3.91,3.81,3.69,3.42,3.55,3.44,3.04
21,HDFC,Housing Development Finance Corporation Ltd.,8.42,8.11,7.88,8.07,7.20,6.99,6.59,6.55,6.43,6.87,7.23,7.61,7.27,7.29
22,ICICIBANK,ICICI Bank Ltd.,6.87,6.95,5.85,5.99,5.39,5.25,4.80,5.62,5.05,5.40,5.84,6.12,6.31,6.59
23,ITC,ITC Ltd.,4.15,3.72,4.18,3.87,4.32,3.92,3.62,3.45,3.09,2.88,3.03,6.12,3.02,2.84
24,IOC,Indian Oil Corporation Ltd.,0.58,0.58,0.58,0.52,0.53,0.50,0.48,0.45,0.39,0.40,0.38,0.38,0.40,0.40
25,INDUSINDBK,IndusInd Bank Ltd.,1.53,1.44,0.59,0.69,0.60,0.66,0.68,0.79,0.62,0.66,0.87,0.84,0.82,0.96
26,INFY,Infosys Ltd.,5.75,5.79,6.56,6.38,6.35,6.21,7.56,7.03,7.62,7.74,7.21,7.64,7.81,7.42
27,JSWSTEEL,JSW Steel Ltd.,0.51,0.52,0.41,0.45,0.47,0.44,0.48,0.57,0.57,0.61,0.62,0.64,0.60,0.61
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,4.58,4.68,4.85,4.42,4.11,4.59,4.27,4.24,3.83,4.52,5.00,4.85,4.27,4.16
29,LT,Larsen & Toubro Ltd.,3.42,3.17,2.79,2.70,2.89,2.66,2.38,2.39,2.27,2.26,2.45,2.61,2.74,2.78
30,M&M,Mahindra & Mahindra Ltd.,1.10,0.94,0.76,0.85,1.05,1.13,1.24,1.20,1.20,1.13,1.24,1.15,1.22,1.23
31,MARUTI,Maruti Suzuki India Ltd.,1.86,1.80,1.59,1.73,1.87,1.79,1.78,1.88,1.85,1.85,1.67,1.69,1.63,1.46
32,NTPC,NTPC Ltd.,1.02,1.02,1.14,1.12,1.19,1.07,0.09,0.97,0.85,0.85,0.82,0.80,0.73,0.83
33,NESTLEIND,Nestle India Ltd.,1.11,1.22,1.62,1.56,1.57,1.41,1.26,1.18,1.17,1.22,1.14,1.09,1.04,0.92
34,ONGC,Oil & Natural Gas Corporation Ltd.,0.75,0.67,0.70,0.71,0.76,0.68,0.61,0.62,0.52,0.47,0.51,0.56,0.55,0.65
35,POWERGRID,Power Grid Corporation of India Ltd.,0.89,0.92,1.14,1.01,1.01,1.03,0.98,0.95,0.86,0.87,0.88,0.81,0.80,0.88
36,RELIANCE,Reliance Industries Ltd.,9.23,9.28,10.06,11.54,11.88,12.45,14.00,13.63,14.90,13.24,11.17,10.66,10.13,10.77
37,SBIN,State Bank of India,2.47,2.51,2.11,1.78,1.55,1.58,1.57,1.68,1.47,1.45,1.68,1.75,1.84,2.39
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,0.95,0.87,1.06,1.22,1.28,1.18,1.23,1.16,1.11,1.00,0.99,1.06,1.08,1.03
39,TCS,Tata Consultancy Services Ltd.,4.42,4.54,5.36,5.15,5.20,5.04,5.12,4.90,5.40,5.58,5.04,4.99,5.56,4.86
40,TATAMOTORS,Tata Motors Ltd.,0.64,0.50,0.36,0.41,0.39,0.41,0.40,0.53,0.49,0.47,0.58,0.55,0.80,0.92
41,TATASTEEL,Tata Steel Ltd.,0.67,0.62,0.57,0.55,0.56,0.56,0.58,0.63,0.56,0.62,0.78,0.81,0.77,0.86
42,TECHM,Tech Mahindra Ltd.,0.99,0.99,0.98,0.82,0.82,0.77,0.90,0.95,1.01,1.00,0.97,1.00,1.01,0.91
43,TITAN,Titan Company Ltd.,1.00,1.13,1.09,0.99,0.93,0.91,0.93,0.95,1.03,0.97,1.02,1.09,1.01,0.94
44,UPL,UPL Ltd.,0.59,0.62,0.50,0.56,0.56,0.54,0.56,0.58,0.57,0.50,0.41,0.43,0.52,0.49
45,ULTRACEMCO,UltraTech Cement Ltd.,1.01,1.03,1.05,0.99,1.13,1.04,1.02,0.93,0.96,1.05,0.99,1.03,1.05,1.13
47,WIPRO,Wipro Ltd.,0.71,0.71,0.82,0.69,0.79,0.75,0.89,0.83,0.96,1.01,0.93,0.95,1.06,0.97

In [ ]:
X = df.iloc[:, [13]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 5.52      ],
       [ 0.74689655],
       [ 7.625     ],
       [10.515     ],
       [ 2.25333333]])

In [ ]:
d2 = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
X = df.iloc[:, [2]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jan']=y_kmeans
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d2['Feb']=y_kmeans
# d= d.sort_values(by = 'feb')
# mar-feb
X = df.iloc[:, [4]].values
y_kmeans = kmeans.fit_predict(X)
d2['Mar']=y_kmeans
X = df.iloc[:, [5]].values
y_kmeans = kmeans.fit_predict(X)
d2['Apr']=y_kmeans
X = df.iloc[:, [6]].values
y_kmeans = kmeans.fit_predict(X)
d2['May']=y_kmeans
X = df.iloc[:, [7]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jun']=y_kmeans
X = df.iloc[:, [8]].values
y_kmeans = kmeans.fit_predict(X)
d2['Jul']=y_kmeans
X = df.iloc[:, [9]].values
y_kmeans = kmeans.fit_predict(X)
d2['Aug']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d2['Sep']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d2['Mar']=y_kmeans
X = df.iloc[:, [11]].values
y_kmeans = kmeans.fit_predict(X)
d2['Oct']=y_kmeans
X = df.iloc[:, [12]].values
y_kmeans = kmeans.fit_predict(X)
d2['Nov']=y_kmeans
X = df.iloc[:, [13]].values
y_kmeans = kmeans.fit_predict(X)
d2['Dec']=y_kmeans

d2['jan']=y_kmeans
X = df.iloc[:, [14]].values
y_kmeans = kmeans.fit_predict(X)
d2['feb']=y_kmeans
d2= d2.sort_values(by = 'Jan')
d2

,Symbol,Security Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,jan,feb
23,ITC,ITC Ltd.,0,2,4,0,4,2,4,1,4,1,3,0,0,4
2,AXISBANK,Axis Bank Ltd.,0,2,4,3,3,4,3,4,4,1,3,4,4,4
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0,2,0,0,4,2,4,1,0,0,0,0,0,0
29,LT,Larsen & Toubro Ltd.,0,2,4,3,4,4,3,4,4,1,3,4,4,4
39,TCS,Tata Consultancy Services Ltd.,0,2,0,0,1,2,4,1,0,0,0,0,0,0
27,JSWSTEEL,JSW Steel Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
30,M&M,Mahindra & Mahindra Ltd.,1,0,1,1,0,0,3,0,1,4,1,1,1,1
32,NTPC,NTPC Ltd.,1,0,1,1,3,0,0,0,1,4,1,1,1,1
33,NESTLEIND,Nestle India Ltd.,1,0,1,3,3,4,3,0,1,4,1,1,1,1
34,ONGC,Oil & Natural Gas Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
35,POWERGRID,Power Grid Corporation of India Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,1,0,1,1,3,0,3,0,1,4,1,1,1,1
40,TATAMOTORS,Tata Motors Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
41,TATASTEEL,Tata Steel Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
42,TECHM,Tech Mahindra Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
43,TITAN,Titan Company Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
44,UPL,UPL Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
24,IOC,Indian Oil Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
45,ULTRACEMCO,UltraTech Cement Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,1,0,1,1,3,0,0,0,1,4,1,1,1,1
3,BAJAJ-AUTO,Bajaj Auto Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
5,BAJAJFINSV,Bajaj Finserv Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
6,BPCL,Bharat Petroleum Corporation Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
9,BRITANNIA,Britannia Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
10,CIPLA,Cipla Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
11,COALINDIA,Coal India Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
13,EICHERMOT,Eicher Motors Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
14,GAIL,GAIL (India) Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
47,WIPRO,Wipro Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
16,HCLTECH,HCL Technologies Ltd.,1,0,4,3,3,4,3,4,4,1,3,4,4,4
18,HEROMOTOCO,Hero MotoCorp Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
19,HINDALCO,Hindalco Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
15,GRASIM,Grasim Industries Ltd.,1,0,1,1,0,0,0,0,1,4,1,1,1,1
17,HDFCBANK,HDFC Bank Ltd.,2,3,3,2,2,1,1,2,3,2,2,3,3,2
36,RELIANCE,Reliance Industries Ltd.,2,3,2,2,2,1,2,2,2,2,2,3,3,2
21,HDFC,Housing Development Finance Corporation Ltd.,2,1,0,4,1,3,1,3,0,3,4,2,2,3
31,MARUTI,Maruti Suzuki India Ltd.,3,4,4,3,3,4,3,4,4,1,3,4,4,4
20,HINDUNILVR,Hindustan Unilever Ltd.,3,2,0,0,4,2,4,1,0,0,3,4,4,0
37,SBIN,State Bank of India,3,4,4,3,3,4,3,4,4,1,3,4,4,4
25,INDUSINDBK,IndusInd Bank Ltd.,3,0,1,1,0,0,0,0,1,4,1,1,1,1
7,BHARTIARTL,Bharti Airtel Ltd.,3,4,4,3,4,4,3,4,4,1,3,4,4,4
4,BAJFINANCE,Bajaj Finance Ltd.,3,4,4,3,3,4,3,4,4,1,3,4,4,4
1,ASIANPAINT,Asian Paints Ltd.,3,4,4,3,3,4,3,4,4,1,3,4,4,4
26,INFY,Infosys Ltd.,4,1,3,4,1,3,1,3,3,3,4,2,2,3
22,ICICIBANK,ICICI Bank Ltd.,4,1,0,4,1,2,4,3,0,0,0,0,0,3

In [ ]:
d2['Jan']=d2["Jan"].replace({0: 'C', 1: 'A', 2:'E', 3:'B', 4:'D'})
d2["Feb"]=d2["Feb"].replace({0: 'A', 1: 'D', 2:'C', 3:'E', 4:'B'})
d2['Mar']=d2["Mar"].replace({0: 'C', 1: 'A', 2:'E', 3:'D', 4:'B'})
d2['Apr']=d2["Apr"].replace({0: 'C', 1: 'A', 2:'E', 3:'B', 4:'D'})
d2['May']=d2["May"].replace({0: 'A', 1: 'D', 2:'C', 3:'E', 4:'B'})
d2['Jun']=d2["Jun"].replace({0: 'A', 1: 'D', 2:'C', 3:'E', 4:'B'})
d2['Jul']=d2["Jul"].replace({0: 'A', 1: 'D', 2:'C', 3:'E', 4:'B'})
d2['Aug']=d2["Aug"].replace({0: 'A', 1: 'D', 2:'C', 3:'E', 4:'B'})
d2['Sep']=d2["Sep"].replace({0: 'C', 1: 'A', 2:'E', 3:'D', 4:'B'})
d2['Oct']=d2["Oct"].replace({0: 'C', 1: 'B', 2:'E', 3:'D', 4:'A'})
d2['Nov']=d2["Nov"].replace({0: 'C', 1: 'A', 2:'E', 3:'B', 4:'D'})
d2['Dec']=d2["Dec"].replace({0: 'C', 1: 'A', 2:'D', 3:'E', 4:'B'})
d2['jan']=d2["jan"].replace({0: 'D', 1: 'A', 2:'D', 3: 'D',4:'B'})
d2['feb']=d2["feb"].replace({0: 'D', 1: 'A', 2: 'E',3: 'D',4:'B'})
# d['Dec']=d["Dec"].replace({0: 'C', 1: 'A', 2:'D', 3:'E', 4:'B'})
d2.sort_values(by = 'feb')
d2

,Symbol,Security Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,jan,feb
23,ITC,ITC Ltd.,C,C,B,C,B,C,B,D,B,B,B,C,D,B
2,AXISBANK,Axis Bank Ltd.,C,C,B,B,E,B,E,B,B,B,B,B,B,B
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,C,C,C,C,B,C,B,D,C,C,C,C,D,D
29,LT,Larsen & Toubro Ltd.,C,C,B,B,B,B,E,B,B,B,B,B,B,B
39,TCS,Tata Consultancy Services Ltd.,C,C,C,C,D,C,B,D,C,C,C,C,D,D
27,JSWSTEEL,JSW Steel Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
30,M&M,Mahindra & Mahindra Ltd.,A,A,A,A,A,A,E,A,A,A,A,A,A,A
32,NTPC,NTPC Ltd.,A,A,A,A,E,A,A,A,A,A,A,A,A,A
33,NESTLEIND,Nestle India Ltd.,A,A,A,B,E,B,E,A,A,A,A,A,A,A
34,ONGC,Oil & Natural Gas Corporation Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
35,POWERGRID,Power Grid Corporation of India Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,A,A,A,A,E,A,E,A,A,A,A,A,A,A
40,TATAMOTORS,Tata Motors Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
41,TATASTEEL,Tata Steel Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
42,TECHM,Tech Mahindra Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
43,TITAN,Titan Company Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
44,UPL,UPL Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
24,IOC,Indian Oil Corporation Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
45,ULTRACEMCO,UltraTech Cement Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,A,A,A,A,E,A,A,A,A,A,A,A,A,A
3,BAJAJ-AUTO,Bajaj Auto Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
5,BAJAJFINSV,Bajaj Finserv Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
6,BPCL,Bharat Petroleum Corporation Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
9,BRITANNIA,Britannia Industries Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
10,CIPLA,Cipla Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
11,COALINDIA,Coal India Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
13,EICHERMOT,Eicher Motors Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
14,GAIL,GAIL (India) Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
47,WIPRO,Wipro Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
16,HCLTECH,HCL Technologies Ltd.,A,A,B,B,E,B,E,B,B,B,B,B,B,B
18,HEROMOTOCO,Hero MotoCorp Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
19,HINDALCO,Hindalco Industries Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
15,GRASIM,Grasim Industries Ltd.,A,A,A,A,A,A,A,A,A,A,A,A,A,A
17,HDFCBANK,HDFC Bank Ltd.,E,E,D,E,C,D,D,C,D,E,E,E,D,E
36,RELIANCE,Reliance Industries Ltd.,E,E,E,E,C,D,C,C,E,E,E,E,D,E
21,HDFC,Housing Development Finance Corporation Ltd.,E,D,C,D,D,E,D,E,C,D,D,D,D,D
31,MARUTI,Maruti Suzuki India Ltd.,B,B,B,B,E,B,E,B,B,B,B,B,B,B
20,HINDUNILVR,Hindustan Unilever Ltd.,B,C,C,C,B,C,B,D,C,C,B,B,B,D
37,SBIN,State Bank of India,B,B,B,B,E,B,E,B,B,B,B,B,B,B
25,INDUSINDBK,IndusInd Bank Ltd.,B,A,A,A,A,A,A,A,A,A,A,A,A,A
7,BHARTIARTL,Bharti Airtel Ltd.,B,B,B,B,B,B,E,B,B,B,B,B,B,B
4,BAJFINANCE,Bajaj Finance Ltd.,B,B,B,B,E,B,E,B,B,B,B,B,B,B
1,ASIANPAINT,Asian Paints Ltd.,B,B,B,B,E,B,E,B,B,B,B,B,B,B
26,INFY,Infosys Ltd.,D,D,D,D,D,E,D,E,D,D,D,D,D,D
22,ICICIBANK,ICICI Bank Ltd.,D,D,C,D,D,C,B,E,C,C,C,C,D,D

# kmean clustering taking  individual weight difference as features

In [ ]:
df=pd.read_csv(r'E:\MTECH_THESIS_2021\nfty50 index market capitalisation\Nifty50jan_dec_weightsnew1.csv')
df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','jan','feb']] = df[["JAN ", "FEB",'MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','jan','feb']].astype("float")
df=df.dropna()
df['feb_jan'] = df['FEB'] - df['JAN ']
df['mar_feb'] = df['MAR'] - df['FEB']
df['apr_mar'] = df['APR'] - df['MAR']
df['may_apr']=df['MAY']-df['APR']
df['jun_may']=df['JUN']-df['MAY']
df['jul_jun']=df['JUL']-df['JUN']
df['aug_jul']=df['AUG']-df['JUL']
df['sep_aug']=df['SEP']-df['AUG']
df['oct_sep']=df['OCT']-df['SEP']
df['nov_oct']=df['NOV']-df['OCT']
df['dec_nov']=df['DEC']-df['NOV']
df['jan_dec']=df['jan']-df['DEC']
df['feb_jan_']=df['feb']-df['jan']
df.drop(['JAN ','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','jan','feb'], axis=1, inplace=True)
df

,Symbol,Security Name,feb_jan,mar_feb,apr_mar,may_apr,jun_may,jul_jun,aug_jul,sep_aug,oct_sep,nov_oct,dec_nov,jan_dec,feb_jan_
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,-0.01,-0.03,0.01,0.08,-0.03,-0.09,0.04,-0.03,0.00,0.02,0.05,0.04,0.00
1,ASIANPAINT,Asian Paints Ltd.,0.11,0.35,-0.17,-0.03,-0.15,-0.10,0.12,0.08,0.14,-0.20,0.28,-0.22,0.00
2,AXISBANK,Axis Bank Ltd.,0.07,-0.96,0.05,-0.26,-0.06,-0.04,0.46,-0.37,0.26,0.24,-0.12,0.25,0.00
3,BAJAJ-AUTO,Bajaj Auto Ltd.,-0.03,-0.07,0.09,0.06,-0.04,-0.01,-0.04,-0.03,-0.02,-0.01,0.00,0.15,-0.10
4,BAJFINANCE,Bajaj Finance Ltd.,0.22,-0.86,-0.15,-0.19,0.43,0.11,0.07,-0.12,-0.04,0.58,0.00,-0.19,0.09
5,BAJAJFINSV,Bajaj Finserv Ltd.,0.03,-0.40,-0.03,-0.08,0.14,-0.01,-0.03,-0.04,-0.06,0.28,-0.06,0.01,0.03
6,BPCL,Bharat Petroleum Corporation Ltd.,0.00,-0.03,0.01,-0.03,0.00,0.02,-0.03,-0.10,-0.01,-0.03,-0.03,0.01,0.06
7,BHARTIARTL,Bharti Airtel Ltd.,0.28,0.22,0.05,0.30,0.00,-0.25,-0.30,-0.47,0.00,-0.09,0.04,0.23,-0.13
9,BRITANNIA,Britannia Industries Ltd.,0.00,0.12,0.03,0.09,-0.02,-0.02,-0.05,0.01,-0.10,-0.05,-0.07,0.00,-0.07
10,CIPLA,Cipla Ltd.,-0.02,0.16,0.13,0.10,-0.08,0.03,-0.03,0.06,-0.05,-0.08,0.01,0.02,-0.07
11,COALINDIA,Coal India Ltd.,-0.01,0.13,-0.06,-0.02,-0.10,-0.06,0.00,-0.08,-0.02,-0.01,0.00,-0.02,0.06
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0.01,0.29,0.10,0.08,-0.14,0.07,-0.10,0.23,-0.12,-0.13,0.00,-0.10,-0.09
13,EICHERMOT,Eicher Motors Ltd.,-0.07,0.01,-0.01,0.08,0.01,0.02,-0.01,0.03,-0.05,0.05,-0.04,0.06,-0.09
14,GAIL,GAIL (India) Ltd.,-0.03,-0.02,0.03,0.00,0.01,-0.06,-0.01,-0.04,-0.02,0.03,0.04,0.01,0.03
15,GRASIM,Grasim Industries Ltd.,-0.03,-0.07,-0.03,0.09,-0.02,-0.03,0.02,0.06,0.00,0.01,-0.01,0.09,0.04
16,HCLTECH,HCL Technologies Ltd.,-0.05,0.07,0.12,0.06,-0.11,0.25,-0.08,0.26,0.00,-0.22,0.10,-0.01,-0.11
17,HDFCBANK,HDFC Bank Ltd.,0.27,-0.58,0.14,-0.22,0.31,-1.09,0.43,-0.32,0.58,0.96,-0.84,-0.08,0.37
18,HEROMOTOCO,Hero MotoCorp Ltd.,-0.08,0.00,0.10,0.09,-0.01,-0.02,0.07,0.03,-0.12,0.00,-0.05,0.05,-0.05
19,HINDALCO,Hindalco Industries Ltd.,-0.07,-0.10,0.07,0.05,-0.02,0.02,0.05,-0.03,-0.03,0.09,-0.01,-0.02,0.23
20,HINDUNILVR,Hindustan Unilever Ltd.,0.42,1.23,-0.77,-0.13,0.80,-0.27,-0.31,-0.10,-0.12,-0.27,0.13,-0.11,-0.40
21,HDFC,Housing Development Finance Corporation Ltd.,-0.31,-0.23,0.19,-0.87,-0.21,-0.40,-0.04,-0.12,0.44,0.36,0.38,-0.34,0.02
22,ICICIBANK,ICICI Bank Ltd.,0.08,-1.10,0.14,-0.60,-0.14,-0.45,0.82,-0.57,0.35,0.44,0.28,0.19,0.28
23,ITC,ITC Ltd.,-0.43,0.46,-0.31,0.45,-0.40,-0.30,-0.17,-0.36,-0.21,0.15,3.09,-3.10,-0.18
24,IOC,Indian Oil Corporation Ltd.,0.00,0.00,-0.06,0.01,-0.03,-0.02,-0.03,-0.06,0.01,-0.02,0.00,0.02,0.00
25,INDUSINDBK,IndusInd Bank Ltd.,-0.09,-0.85,0.10,-0.09,0.06,0.02,0.11,-0.17,0.04,0.21,-0.03,-0.02,0.14
26,INFY,Infosys Ltd.,0.04,0.77,-0.18,-0.03,-0.14,1.35,-0.53,0.59,0.12,-0.53,0.43,0.17,-0.39
27,JSWSTEEL,JSW Steel Ltd.,0.01,-0.11,0.04,0.02,-0.03,0.04,0.09,0.00,0.04,0.01,0.02,-0.04,0.01
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,0.10,0.17,-0.43,-0.31,0.48,-0.32,-0.03,-0.41,0.69,0.48,-0.15,-0.58,-0.11
29,LT,Larsen & Toubro Ltd.,-0.25,-0.38,-0.09,0.19,-0.23,-0.28,0.01,-0.12,-0.01,0.19,0.16,0.13,0.04
30,M&M,Mahindra & Mahindra Ltd.,-0.16,-0.18,0.09,0.20,0.08,0.11,-0.04,0.00,-0.07,0.11,-0.09,0.07,0.01
31,MARUTI,Maruti Suzuki India Ltd.,-0.06,-0.21,0.14,0.14,-0.08,-0.01,0.10,-0.03,0.00,-0.18,0.02,-0.06,-0.17
32,NTPC,NTPC Ltd.,0.00,0.12,-0.02,0.07,-0.12,-0.98,0.88,-0.12,0.00,-0.03,-0.02,-0.07,0.10
33,NESTLEIND,Nestle India Ltd.,0.11,0.40,-0.06,0.01,-0.16,-0.15,-0.08,-0.01,0.05,-0.08,-0.05,-0.05,-0.12
34,ONGC,Oil & Natural Gas Corporation Ltd.,-0.08,0.03,0.01,0.05,-0.08,-0.07,0.01,-0.10,-0.05,0.04,0.05,-0.01,0.10
35,POWERGRID,Power Grid Corporation of India Ltd.,0.03,0.22,-0.13,0.00,0.02,-0.05,-0.03,-0.09,0.01,0.01,-0.07,-0.01,0.08
36,RELIANCE,Reliance Industries Ltd.,0.05,0.78,1.48,0.34,0.57,1.55,-0.37,1.27,-1.66,-2.07,-0.51,-0.53,0.64
37,SBIN,State Bank of India,0.04,-0.40,-0.33,-0.23,0.03,-0.01,0.11,-0.21,-0.02,0.23,0.07,0.09,0.55
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,-0.08,0.19,0.16,0.06,-0.10,0.05,-0.07,-0.05,-0.11,-0.01,0.07,0.02,-0.05
39,TCS,Tata Consultancy Services Ltd.,0.12,0.82,-0.21,0.05,-0.16,0.08,-0.22,0.50,0.18,-0.54,-0.05,0.57,-0.70
40,TATAMOTORS,Tata Motors Ltd.,-0.14,-0.14,0.05,-0.02,0.02,-0.01,0.13,-0.04,-0.02,0.11,-0.03,0.25,0.12
41,TATASTEEL,Tata Steel Ltd.,-0.05,-0.05,-0.02,0.01,0.00,0.02,0.05,-0.07,0.06,0.16,0.03,-0.04,0.09
42,TECHM,Tech Mahindra Ltd.,0.00,-0.01,-0.16,0.00,-0.05,0.13,0.05,0.06,-0.01,-0.03,0.03,0.01,-0.10
43,TITAN,Titan Company Ltd.,0.13,-0.04,-0.10,-0.06,-0.02,0.02,0.02,0.08,-0.06,0.05,0.07,-0.08,-0.07
44,UPL,UPL Ltd.,0.03,-0.12,0.06,0.00,-0.02,0.02,0.02,-0.01,-0.07,-0.09,0.02,0.09,-0.03
45,ULTRACEMCO,UltraTech Cement Ltd.,0.02,0.02,-0.06,0.14,-0.09,-0.02,-0.09,0.03,0.09,-0.06,0.04,0.02,0.08
47,WIPRO,Wipro Ltd.,0.00,0.11,-0.13,0.10,-0.04,0.14,-0.06,0.13,0.05,-0.08,0.02,0.11,-0.09

In [ ]:
#k-mean clustering
d = pd.DataFrame({'Symbol': df['Symbol'],'Security Name': df['Security Name']})
X = df.iloc[:, [2]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)

y_kmeans = kmeans.fit_predict(X)
d['Feb']=y_kmeans
# d= d.sort_values(by = 'feb')
# mar-feb
X = df.iloc[:, [3]].values
y_kmeans = kmeans.fit_predict(X)
d['Mar']=y_kmeans
X = df.iloc[:, [4]].values
y_kmeans = kmeans.fit_predict(X)
d['Apr']=y_kmeans
X = df.iloc[:, [5]].values
y_kmeans = kmeans.fit_predict(X)
d['May']=y_kmeans
X = df.iloc[:, [6]].values
y_kmeans = kmeans.fit_predict(X)
d['Jun']=y_kmeans
X = df.iloc[:, [7]].values
y_kmeans = kmeans.fit_predict(X)
d['Jul']=y_kmeans
X = df.iloc[:, [8]].values
y_kmeans = kmeans.fit_predict(X)
d['Aug']=y_kmeans
X = df.iloc[:, [9]].values
y_kmeans = kmeans.fit_predict(X)
d['Sep']=y_kmeans
X = df.iloc[:, [10]].values
y_kmeans = kmeans.fit_predict(X)
d['Oct']=y_kmeans
X = df.iloc[:, [11]].values
y_kmeans = kmeans.fit_predict(X)
d['Nov']=y_kmeans
X = df.iloc[:, [12]].values
y_kmeans = kmeans.fit_predict(X)
d['Dec']=y_kmeans
X = df.iloc[:, [13]].values
y_kmeans = kmeans.fit_predict(X)
d['jan']=y_kmeans
X = df.iloc[:, [14]].values
y_kmeans = kmeans.fit_predict(X)
d['feb']=y_kmeans
d

,Symbol,Security Name,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,jan,feb
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,0,0,0,3,0,4,4,1,2,1,4,1,0
1,ASIANPAINT,Asian Paints Ltd.,3,2,3,0,3,4,4,4,0,1,3,1,0
2,AXISBANK,Axis Bank Ltd.,3,1,0,4,0,4,1,0,0,0,0,4,0
3,BAJAJ-AUTO,Bajaj Auto Ltd.,0,0,0,3,0,4,0,1,2,1,4,4,3
4,BAJFINANCE,Bajaj Finance Ltd.,1,1,3,4,1,0,4,1,4,3,4,1,0
5,BAJAJFINSV,Bajaj Finserv Ltd.,0,4,3,0,0,4,0,1,4,0,0,1,0
6,BPCL,Bharat Petroleum Corporation Ltd.,0,0,0,0,0,4,0,1,2,1,0,1,0
7,BHARTIARTL,Bharti Airtel Ltd.,1,2,0,2,0,3,2,0,2,1,4,4,3
9,BRITANNIA,Britannia Industries Ltd.,0,2,0,3,0,4,0,1,4,1,0,1,3
10,CIPLA,Cipla Ltd.,0,2,0,3,3,4,0,4,4,1,4,1,3
11,COALINDIA,Coal India Ltd.,0,2,3,0,3,4,0,1,2,1,4,1,0
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,0,2,0,3,3,0,0,4,4,1,4,1,3
13,EICHERMOT,Eicher Motors Ltd.,4,0,3,3,0,4,0,4,4,1,0,4,3
14,GAIL,GAIL (India) Ltd.,0,0,0,0,0,4,0,1,2,1,4,1,0
15,GRASIM,Grasim Industries Ltd.,0,0,3,3,0,4,4,4,2,1,4,4,0
16,HCLTECH,HCL Technologies Ltd.,4,0,0,3,3,0,0,4,2,1,4,1,3
17,HDFCBANK,HDFC Bank Ltd.,1,4,0,4,1,1,1,0,3,3,2,1,4
18,HEROMOTOCO,Hero MotoCorp Ltd.,4,0,0,3,0,4,4,4,4,1,0,1,3
19,HINDALCO,Hindalco Industries Ltd.,4,0,0,3,0,4,4,1,2,0,4,1,4
20,HINDUNILVR,Hindustan Unilever Ltd.,1,3,1,4,4,3,2,1,4,4,4,1,1
21,HDFC,Housing Development Finance Corporation Ltd.,2,0,0,1,3,3,0,1,3,0,3,3,0
22,ICICIBANK,ICICI Bank Ltd.,3,1,0,1,3,3,3,0,0,3,3,4,4
23,ITC,ITC Ltd.,2,2,4,2,2,3,0,0,4,0,1,2,3
24,IOC,Indian Oil Corporation Ltd.,0,0,3,0,0,4,0,1,2,1,4,1,0
25,INDUSINDBK,IndusInd Bank Ltd.,4,1,0,0,0,4,4,1,2,0,0,1,0
26,INFY,Infosys Ltd.,0,3,3,0,3,2,2,2,0,4,3,4,1
27,JSWSTEEL,JSW Steel Ltd.,0,0,0,0,0,4,4,1,2,1,4,1,0
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,3,2,4,4,1,3,0,0,3,3,0,3,3
29,LT,Larsen & Toubro Ltd.,2,4,3,3,3,3,4,1,2,0,4,4,0
30,M&M,Mahindra & Mahindra Ltd.,4,0,0,3,0,0,0,1,4,0,0,4,0
31,MARUTI,Maruti Suzuki India Ltd.,4,0,0,3,3,4,4,1,2,1,4,1,3
32,NTPC,NTPC Ltd.,0,2,3,3,3,1,3,1,2,1,0,1,0
33,NESTLEIND,Nestle India Ltd.,3,2,3,0,3,4,0,1,2,1,0,1,3
34,ONGC,Oil & Natural Gas Corporation Ltd.,4,0,0,3,3,4,4,1,4,1,4,1,0
35,POWERGRID,Power Grid Corporation of India Ltd.,0,2,3,0,0,4,0,1,2,1,0,1,0
36,RELIANCE,Reliance Industries Ltd.,0,3,2,2,1,2,2,3,1,2,2,3,2
37,SBIN,State Bank of India,0,4,4,4,0,4,4,1,2,0,4,4,2
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,4,2,0,3,3,4,0,1,4,1,4,1,3
39,TCS,Tata Consultancy Services Ltd.,3,3,3,3,3,0,2,2,0,4,0,0,1
40,TATAMOTORS,Tata Motors Ltd.,4,0,0,0,0,4,4,1,2,0,0,4,0
41,TATASTEEL,Tata Steel Ltd.,4,0,3,0,0,4,4,1,2,0,4,1,0
42,TECHM,Tech Mahindra Ltd.,0,0,3,0,0,0,4,4,2,1,4,1,3
43,TITAN,Titan Company Ltd.,3,0,3,0,0,4,4,4,4,1,4,1,3
44,UPL,UPL Ltd.,0,0,0,0,0,4,4,1,4,1,4,4,3
45,ULTRACEMCO,UltraTech Cement Ltd.,0,0,3,3,3,4,0,4,2,1,4,1,0
47,WIPRO,Wipro Ltd.,0,2,3,3,0,0,0,4,2,1,4,4,3

In [ ]:
d['Feb']=d["Feb"].replace({0: 'C', 1: 'E', 2:'A', 3:'D', 4:'B'})
d["Mar"]=d["Mar"].replace({0: 'C', 1: 'A', 2:'D', 3:'E', 4:'B'})
d['Apr']=d["Apr"].replace({0: 'D', 1: 'A', 2:'E', 3:'C', 4:'B'})
d['May']=d["May"].replace({0: 'C', 1: 'A', 2:'E', 3:'D', 4:'B'})
d['Jun']=d["Jun"].replace({0: 'C', 1: 'D', 2:'A', 3:'B', 4:'E'})
d['Jul']=d["Jul"].replace({0: 'D', 1: 'A', 2:'E', 3:'B', 4:'C'})
d['Aug']=d["Aug"].replace({0: 'B', 1: 'D', 2:'A', 3:'E', 4:'C'})
d['Sep']=d["Sep"].replace({0: 'A', 1: 'B', 2:'D', 3:'E', 4:'C'})
d['Oct']=d["Oct"].replace({0: 'D', 1: 'A', 2:'C', 3:'E', 4:'B'})
d['Nov']=d["Nov"].replace({0: 'C', 1: 'A', 2:'D', 3:'B', 4:'E'})
d['Dec']=d["Dec"].replace({0: 'A', 1: 'C', 2:'E', 3:'C', 4:'B'})
d['jan']=d["jan"].replace({0: 'E', 1: 'C', 2:'A', 3:'B', 4:'D'})
d['feb']=d["feb"].replace({0: 'D', 1: 'A', 2:'E', 3:'B', 4:'E'})
d= d.sort_values(by = 'Feb')
d

,Symbol,Security Name,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,jan,feb
23,ITC,ITC Ltd.,A,D,B,E,A,B,B,A,B,C,C,A,B
21,HDFC,Housing Development Finance Corporation Ltd.,A,C,D,A,B,B,B,B,E,C,C,B,D
29,LT,Larsen & Toubro Ltd.,A,B,C,D,B,B,C,B,C,C,B,D,D
19,HINDALCO,Hindalco Industries Ltd.,B,C,D,D,C,C,C,B,C,C,B,C,E
18,HEROMOTOCO,Hero MotoCorp Ltd.,B,C,D,D,C,C,C,C,B,A,A,C,B
16,HCLTECH,HCL Technologies Ltd.,B,C,D,D,B,D,B,C,C,A,B,C,B
30,M&M,Mahindra & Mahindra Ltd.,B,C,D,D,C,D,B,B,B,C,A,D,D
13,EICHERMOT,Eicher Motors Ltd.,B,C,C,D,C,C,B,C,B,A,A,D,B
25,INDUSINDBK,IndusInd Bank Ltd.,B,A,D,C,C,C,C,B,C,C,A,C,D
31,MARUTI,Maruti Suzuki India Ltd.,B,C,D,D,B,C,C,B,C,A,B,C,B
38,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,B,D,D,D,B,C,B,B,B,A,B,C,B
40,TATAMOTORS,Tata Motors Ltd.,B,C,D,C,C,C,C,B,C,C,A,D,D
41,TATASTEEL,Tata Steel Ltd.,B,C,C,C,C,C,C,B,C,C,B,C,D
34,ONGC,Oil & Natural Gas Corporation Ltd.,B,C,D,D,B,C,C,B,B,A,B,C,D
32,NTPC,NTPC Ltd.,C,D,C,D,B,A,E,B,C,A,A,C,D
35,POWERGRID,Power Grid Corporation of India Ltd.,C,D,C,C,C,C,B,B,C,A,A,C,D
36,RELIANCE,Reliance Industries Ltd.,C,E,E,E,D,E,A,E,A,D,E,B,E
37,SBIN,State Bank of India,C,B,B,B,C,C,C,B,C,C,B,D,E
27,JSWSTEEL,JSW Steel Ltd.,C,C,D,C,C,C,C,B,C,A,B,C,D
42,TECHM,Tech Mahindra Ltd.,C,C,C,C,C,D,C,C,C,A,B,C,B
26,INFY,Infosys Ltd.,C,E,C,C,B,E,A,D,D,E,C,D,A
44,UPL,UPL Ltd.,C,C,D,C,C,C,C,B,B,A,B,D,B
24,IOC,Indian Oil Corporation Ltd.,C,C,C,C,C,C,B,B,C,A,B,C,D
0,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,C,C,D,D,C,C,C,B,C,A,B,C,D
9,BRITANNIA,Britannia Industries Ltd.,C,D,D,D,C,C,B,B,B,A,A,C,B
3,BAJAJ-AUTO,Bajaj Auto Ltd.,C,C,D,D,C,C,B,B,C,A,B,D,B
5,BAJAJFINSV,Bajaj Finserv Ltd.,C,B,C,C,C,C,B,B,B,C,A,C,D
6,BPCL,Bharat Petroleum Corporation Ltd.,C,C,D,C,C,C,B,B,C,A,A,C,D
45,ULTRACEMCO,UltraTech Cement Ltd.,C,C,C,D,B,C,B,C,C,A,B,C,D
10,CIPLA,Cipla Ltd.,C,D,D,D,B,C,B,C,B,A,B,C,B
11,COALINDIA,Coal India Ltd.,C,D,C,C,B,C,B,B,C,A,B,C,D
47,WIPRO,Wipro Ltd.,C,D,C,D,C,D,B,C,C,A,B,D,B
14,GAIL,GAIL (India) Ltd.,C,C,D,C,C,C,B,B,C,A,B,C,D
15,GRASIM,Grasim Industries Ltd.,C,C,C,D,C,C,C,C,C,A,B,D,D
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,C,D,D,D,B,D,B,C,B,A,B,C,B
33,NESTLEIND,Nestle India Ltd.,D,D,C,C,B,C,B,B,C,A,A,C,B
28,KOTAKBANK,Kotak Mahindra Bank Ltd.,D,D,B,B,D,B,B,A,E,B,A,B,B
39,TCS,Tata Consultancy Services Ltd.,D,E,C,D,B,D,A,D,D,E,A,E,A
2,AXISBANK,Axis Bank Ltd.,D,A,D,B,C,C,D,A,D,C,A,D,D
43,TITAN,Titan Company Ltd.,D,C,C,C,C,C,C,C,B,A,B,C,B
1,ASIANPAINT,Asian Paints Ltd.,D,D,C,C,B,C,C,C,D,A,C,C,D
22,ICICIBANK,ICICI Bank Ltd.,D,A,D,A,B,B,E,A,D,B,C,D,E
7,BHARTIARTL,Bharti Airtel Ltd.,E,D,D,E,C,B,A,A,C,A,B,D,B
17,HDFCBANK,HDFC Bank Ltd.,E,B,D,B,D,A,D,A,E,B,E,C,E
4,BAJFINANCE,Bajaj Finance Ltd.,E,A,C,B,D,D,C,B,B,B,B,C,D
20,HINDUNILVR,Hindustan Unilever Ltd.,E,E,A,B,E,B,A,B,B,E,B,C,A

In [ ]:
X = df.iloc[:, [14]].values
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
kmeans.cluster_centers_

array([[ 0.05238095],
       [-0.49666667],
       [ 0.595     ],
       [-0.09588235],
       [ 0.29333333]])